{{- /* Load structured data parameters */ -}}
{{- $scratch := .scratch -}}
{{- $context := .context -}}

{{- partial "plugin-cards/structured-data/load-parameters.html" $scratch -}}

{{- partial "plugin-cards/debug-print.html" (slice "StructuredData" "Parameters" $scratch) -}}

{{- if (and (($scratch.Get "StructuredData").Parameters.Enable) (eq $context.Type "post")) -}}

{{- partial "plugin-cards/structured-data/load-ld-json.html" (dict "scratch" $scratch "context" $context) -}}

{{- partial "plugin-cards/debug-print.html" (slice "StructuredData" "JSON" $scratch) -}}

{{- $JSON := ($scratch.Get "StructuredData").JSON -}}

<script type="application/ld+json">{{ $JSON | jsonify | safeHTML }}</script>

{{- end -}}