{{- $Parameters := (.Scratch.Get "plugin-cards.Parameters").StructuredData.Config -}}

{{- $JSON := dict "@context" "https://schema.org" -}}

{{- if (eq .Type "post") -}}

  {{- $JSON = merge $JSON (dict "@type" "BlogPosting") -}}
  
  {{- /* 
    When an author name is available, generate a map for the
    author with the name and, optionally, the URL.
    */ -}}
  {{- with $Parameters.AuthorName -}}
    {{- $author := dict "@type" "Person" "name" . -}}

    {{- with $Parameters.ProfileURL -}}
      {{- $author = merge $author (dict "url" .) -}}
    {{- end -}}
    
  {{- $JSON = merge $JSON (dict "author" $author) -}}
  {{- end -}}

  {{- /* Insert the published and modified dates. */ -}}
  {{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
  {{- $JSON = merge $JSON (dict
    "datePublished" (.PublishDate.Format $iso8601)
    "dateModified" (.Lastmod.Format $iso8601)
    ) -}}
    
  {{- /* Insert the post title as the headline. */ -}}
  {{- with .Title -}}
    {{- $JSON = merge $JSON (dict "headline" .) -}}
  {{- end -}}

  {{- /* Insert any images found in the page front matter. */ -}}
  {{- with .Params.images -}}
    {{- $JSON = merge $JSON (dict 
      "image" (apply . "absURL" ".")
      ) -}}
  {{- end -}}

  {{- /* Insert the page summary for a description. */ -}}
  {{- with .Summary -}}
  {{- $JSON = merge $JSON (dict 
    "description" (. | plainify | chomp)
    ) -}}
  {{- end -}}

  {{- /* Insert the page's word count. */ -}}
  {{- with .WordCount -}}
    {{- $JSON = merge $JSON (dict 
      "wordcount" .
      ) -}}
  {{- end -}}

{{- end -}}

{{- return $JSON -}}