{{- /* 
  
  */ -}}
{{- $Parameters := .Scratch.Get "plugin-cards.Parameters" -}}
  
{{- if $Parameters.TwitterOG.Enable -}}

{{- /* 
  Parse content for attribute values that have been
  registered via shortcode or query parameter.
  */ -}}
{{- partial "plugin-cards/twitter-og/load-registered.html" . -}}

{{- /* 
  Construct the attribute map from which the <meta> tags will draw.
  */ -}}
{{- partial "plugin-cards/twitter-og/load-attributes.html" . -}}

{{- $attributes := .Scratch.Get "plugin-cards.TwitterOG" -}}

{{/* Create meta tags using the loaded attributes. */}}

{{- with $attributes -}}

{{ with .url -}}
<meta property="og:url" content="{{ . }}" />
<meta name="twitter:url" content="{{ . }}">
{{ end -}}

{{ with .title -}}
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}" />
{{- end }}

{{ with .description -}}
<meta property="og:description" content="{{ . }}" />
<meta name="twitter:description" content="{{ . }}" />
{{- end }}

{{ with .site_name -}}
<meta property="og:site_name" content="{{ . }}" />
{{- end }}

{{ with .site -}}
<meta name="twitter:site" content="{{ . }}" />
{{- end }}

{{ with .creator -}}
<meta name="twitter:creator" content="{{ . }}" />
{{- end }}

{{ with .domain -}}
<meta name="twitter:domain" content="{{ . }}">
{{- end }}

{{ with .published_time -}}
<meta property="article:published_time" content="{{ . }}" />
{{- end }}

{{ with .modified_time -}}
<meta property="article:modified_time" content="{{ . }}" />
{{- end }}

{{ with .updated_time -}}
<meta property="og:updated_time" content="{{ . }}" />
{{- end }}

{{ with .section -}}
<meta property="article:section" content="{{ . }}" />
{{- end }}

{{ with .tags -}}
{{- range first 6 . -}}
<meta property="article:tag" content="{{ . }}" />
{{- end -}}
{{- end }}

{{ with .audio -}}
<meta property="og:audio" content="{{ . }}" />
{{- end }}

{{ with .type -}}
<meta property="og:type" content="{{ . }}" />
{{- end }}

{{ with .card -}}
<meta name="twitter:card" content="{{ . }}"/>
{{- end }}

{{ with .player -}}
<meta name="twitter:player" content="{{ . }}" />
{{- end }}

{{ with .video -}}
<meta property="og:video" content="{{ . }}" />
{{- end }}

{{ with .width -}}
<meta name="twitter:player:width" content="{{ . }}" />
{{- /*if $attributes.video*/ -}}
<meta property="og:video:width" content="{{ . }}" />
{{- /*end*/ -}}
{{- end }}
{{ with .height -}}
<meta name="twitter:player:height" content="{{ . }}" />
{{- /*if $attributes.video*/ -}}
<meta property="og:video:height" content="{{ . }}" />
{{- /*end*/ -}}
{{- end }}

{{ with .image -}}
<meta property="og:image" content="{{ . }}" />
<meta name="twitter:image" content="{{ . }}" />
{{- end }}

{{ with .reading_time -}}
<meta property="article:reading_time" content="{{ . }}" />
{{- end }}

{{- end -}} {{- /* with $attributes */ -}}

{{- end -}} {{- /* if $parameters.Enable */ -}}