{{- $Parameters := .Scratch.Get "plugin-cards.Parameters" -}}
  
{{- if $Parameters.TwitterOG.Config.Enable -}}

{{/* 
  Parse content for attribute values that have been
  registered via shortcode or query parameter.
  */}}
{{- partial "plugin-cards/twitter-og/parse-registered.html" . -}}

{{- if $Parameters.Config.DebugPrint -}}
{{- $Registered := (.Scratch.Get "plugin-cards.Parameters").TwitterOG.Registered -}}
{{- printf "\n<!--plugin-cards.Parameters.TwitterOG.Registered:\n%s\n-->" ($Registered | jsonify) | safeHTML -}}
{{- end -}}

{{- with (partial "plugin-cards/twitter-og/load-attributes.html" .) -}}

{{- if $Parameters.Config.DebugPrint -}}
{{- printf "\n<!--plugin-cards.TwitterOG.Attributes\n%s\n-->" (. | jsonify) | safeHTML -}}
{{- end -}}

{{- /* Insert the custom reading time attribute for posts. */ -}}
  
{{- if (eq $.Type "post") -}}
<meta property="article:reading_time" content="{{ .reading_time }}" />
{{ end -}}

{{- /* Insert the shared Open Graph attributes */ -}}
  
{{- with .published_time -}}
<meta property="article:published_time" content="{{ . }}" />
{{ end -}}

{{- with .modified_time -}}
<meta property="article:modified_time" content="{{ . }}" />
{{ end -}}

{{- with .updated_time -}}
<meta property="og:updated_time" content="{{ . }}" />
{{ end -}}

{{- with .section -}}
<meta property="article:section" content="{{ . }}" />
{{ end -}}

{{- with .tags -}}
{{- range first 6 . -}}
<meta property="article:tag" content="{{ . }}" />
{{ end -}}
{{- end -}}

{{- with .type -}}
<meta property="og:type" content="{{ . }}" />
{{ end -}}

{{- with .url -}}
<meta property="og:url" content="{{ . | absURL }}" />
{{ end -}}

{{- with .title -}}
<meta property="og:title" content="{{ . }}" />
{{ end -}}

{{- with .description -}}
<meta property="og:description" content="{{ . }}" />
{{ end -}}

{{- with .site_name -}}
<meta property="og:site_name" content="{{ . }}" />
{{ end -}}

{{- with .image -}}
<meta property="og:image" content="{{ . | absURL }}" />
{{ end -}}

{{- /* Insert tags applicable for audio */ -}}
  
{{- if (eq .type $Parameters.TwitterOG.Audio.Type) -}}


{{- with .audio -}}
<meta property="og:audio" content="{{ . | absURL }}" />
{{ end -}}

{{- /* Insert tags applicable for video */ -}}
  
{{- else if (eq .type $Parameters.TwitterOG.Video.Type) -}}

{{- with .width -}}
<meta property="og:video:width" content="{{ . }}" />
{{ end -}}

{{- with .height -}}
<meta property="og:video:height" content="{{ . }}" />
{{ end -}}

{{- with .video -}}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end -}}

{{- end -}}

{{- /* Insert shared Twitter Card attributes */ -}}

{{- with .url -}}
<meta name="twitter:url" content="{{ . | absURL }}">  
{{ end -}}

{{- with .title -}}
<meta name="twitter:title" content="{{ . }}" />
{{ end -}}

{{- with .description -}}
<meta name="twitter:description" content="{{ . }}" />
{{ end -}}

{{- with .site -}}
<meta name="twitter:site" content="{{ . }}" />
{{ end -}}

{{- with .creator -}}
<meta name="twitter:creator" content="{{ . }}" />
{{ end -}}

{{- with .domain -}}
<meta name="twitter:domain" content="{{ . }}">
{{ end -}}

{{- with .image -}}
<meta name="twitter:image" content="{{ . | absURL }}" />
{{ end -}}

{{- with .card -}}
<meta name="twitter:card" content="{{ . }}"/>
{{ end -}}

{{- /* Insert attributes specific to player cards */ -}}
  
{{- if (eq .card "player") -}}
  
{{- with .player -}}
<meta name="twitter:player" content="{{ . | absURL }}" />
{{ end -}}

{{- with .width -}}
<meta name="twitter:player:width" content="{{ . }}" />
{{ end -}}

{{- with .height -}}
<meta name="twitter:player:height" content="{{ . }}" />
{{ end -}}

{{- end -}} {{- /* if (eq $Attributes.card "player") */ -}}

{{- end -}} {{- /* with (partial "plugin-cards/twitter-og/load-attributes.html" .) */ -}}

{{- end -}} {{- /* if $parameters.Enable */ -}}