{{- /* 
  Resolve the relevant parameter values 
  */ -}}
  
{{- $Config := (.Get "Config").TwitterOG -}}
{{- $Enable := $Config.Enable | default true -}}
{{- $Data := $Config.Data | default dict -}}
{{- $VideoWidth := $Config.Video.Width | default 600 -}}
{{- $VideoHeight := $Config.Video.Height | default 338 -}}
{{- $VideoType := $Config.Video.Type | default "video.other" -}}
{{- $AudioWidth := $Config.Audio.Width | default 338 -}}
{{- $AudioHeight := $Config.Audio.Height | default 112 -}}
{{- $AudioType := $Config.Audio.Type | default "music.song" -}}
{{- $TwitterUsername := $Config.Twitter.Username | default site.Params.twitter_username -}}
{{- $SinglePage := $Config.Twitter.CardPreference.SinglePage | default "large" -}}
{{- $ListPage := $Config.Twitter.CardPreference.ListPage | default "small" -}}
{{- $RequiresImage := $Config.Twitter.CardPreference.LargeSummaryRequiresImage | default true -}}

{{- /*
  Create the Parameters map
  */ -}}
{{- $Parameters := dict "Enable" $Enable "Data" $Data "Video" (dict "Width" $VideoWidth "Height" $VideoHeight "Type" $VideoType) "Audio" (dict "Width" $AudioWidth "Height" $AudioHeight "Type" $AudioType) "Twitter" (dict "Username" $TwitterUsername "CardPreference" (dict "SinglePage" $SinglePage "ListPage" $ListPage "LargeSummaryRequiresImage" $RequiresImage)) -}}
  

{{- /* 
  Insert the Parameters map into the plugin scratch 
  */ -}}
{{- .SetInMap "TwitterOG" "Parameters" $Parameters -}}