{{- $registered := newScratch -}}

{{/* Resolve registered resources */}}

{{- $content := .Content | markdownify -}}

{{- /* 
  Look for a card-config comment 
  
  processed keys:
    title
    description
    image
    video
    audio
    type
    card
  */ -}}

{{- with findRE `<!--card-config(.|\n)+-->` $content -}}

{{- /* Split and prune the entries */ -}}
{{- $entries := split (index . 0) "\n" | after 1 -}}
{{- $entries  = first (sub (len $entries) 1) $entries -}}

{{- range $entries -}}

{{- /* Separate the key and value, correct for autolinking */ -}}
{{- $key_value := split . "=" -}}
{{- $key := index $key_value 0 -}}
{{- $url_re := `[[][^]]+[]][(]([^)]+)[)]` -}}
{{- $value := replaceRE $url_re "$1" (index $key_value 1) -}}

{{- /* Load the entry into the map */ -}}
{{- if not ($registered.Get $key) -}}
{{- $registered.Set $key $value -}}
{{- end -}}

{{- end -}} {{/* range $entries */}}

{{- end -}} {{/* with findRE `<!--card-config(.|\n)+-->` $content */}}

{{- if not ($registered.Get "title") -}}
{{- $title_re := `<h[0-9][^>]+data-card-title="([^"]+)"` -}}
{{- with findRE $title_re $content -}}
{{- $registered.Set "title" (replaceRE $title_re "$1" (index . 0)) -}}
{{- end -}}
{{- end -}}

{{- if not ($registered.Get "image") -}}
{{- $image_re := `<img[^>]+src="([^"]+)\?[^"]*card-image[^"]*"` -}}
{{- with findRE $image_re $content -}}
{{- $registered.Set "image" (replaceRE $image_re "$1" (index . 0)) -}}
{{- end -}}
{{- end -}}

{{- if not ($registered.Get "audio") -}}
{{- $audio_re := `<audio[^>]+src="([^"]+)\?[^"]*card-audio[^"]*"` -}}
{{- with findRE $audio_re $content -}}
{{- $registered.Set "audio" (replaceRE $audio_re "$1" (index . 0)) -}}
{{- end -}}
{{- end -}}

{{- if not ($registered.Get "video") -}}
{{- $video_re := `<video[^>]+src="([^"]+)\?[^"]*card-video[^"]*"` -}}
{{- with findRE $video_re $content -}}
{{- $registered.Set "video" (replaceRE $video_re "$1" (index . 0)) -}}
{{- end -}}
{{- end -}}

{{- $title := $registered.Get "title" -}}
{{- $description := $registered.Get "description" -}}
{{- $image := $registered.Get "image" -}}
{{- $audio := $registered.Get "audio" -}}
{{- $video := $registered.Get "video" -}}
{{- $type := $registered.Get "type" -}}
{{- $card := $registered.Get "card" -}}

{{- $Registered := dict "title" $title "description" $description "image" $image "audio" $audio "video" $video "type" $type "card" $card -}}

{{- $TwitterOG := dict "Registered" $Registered -}}

{{- .Scratch.Set "plugin-cards.TwitterOG" $TwitterOG -}}