{{- /* Retrieve the parameter values */ -}}
{{- $Parameters := (.Scratch.Get "plugin-cards.Parameters").TwitterOG -}}

{{- /* Retrieve the registration map from the page scratch. */ -}}
{{- $Registered := .Scratch.Get "plugin-cards.TwitterOG" -}}

{{- /* Capture the page path and trim off any query parameters */ -}}
{{- $Path := (urls.Parse .Permalink).Path -}}
{{- $Path = replaceRE "^([^?]+)(?:[?].+)?" "$1" $Path -}}
    

{{- /*
  Grab attribute values that require no logic.
  */ -}}

{{- $reading_time := .ReadingTime -}}
{{- $url := .Permalink -}}
{{- $site_name := site.Title -}}
{{- $domain := (urls.Parse site.BaseURL).Host -}}
{{- $section := .Section -}}
{{- $tags := .Params.categories -}}
{{- $audio := $Registered.audio -}}
{{- $video := $Registered.video -}}
{{- $card := $Registered.card -}}
{{- $type := $Registered.type -}}
{{- $title := $Registered.title -}}
{{- $description := $Registered.description -}}
{{- $image := $Registered.image -}}

{{- /*
  Grab the Twitter username for the site and creator attributes.
  */ -}}
  
{{- $site := false -}}
{{- $creator := false -}}
{{- with $Parameters.Twitter.Username -}}
{{- $handle := printf "@%s" . -}}
{{- $site = $handle -}}
{{- $creator = $handle -}}
{{- end -}}

{{- /* 
  
  Determine content for the description using the following lookup order:
  
  1) A description value registered via shortcode.
  2) The page summary.
  3) The page description.
  4) A description value residing in the site parameters.
  
  */ -}}
  
{{- $description = $description | default .Summary -}}
{{- $description = $description | default .Description -}}
{{- $description = $description | default site.Params.description -}}

{{- /* 
  Normalize the description value to plain text 
  that is 200 characters or less before inserting. 
  */ -}}
  
{{- with $description -}}
{{- $description = . | markdownify | plainify | truncate 200 | chomp -}}  
{{- end -}}

{{- /* 
  Determine content for title using the following lookup order:
  1) A title value registered via shortcode or data attribute.
  2) The value of the title page variable.
  3) The description.
  */ -}}
  
{{- $title = $title | default .Title -}}
{{- $title = $title | default $description -}}

{{- /* 
  Normalize the title value to plain text 
  that is 70 characters or less before inserting. 
  */ -}}
  
{{- with $title -}}
{{- $title = . | markdownify | plainify | truncate 70 | chomp -}}
{{- end -}}

{{- /* 
  Grab the image using the following lookup order:
  1) The first image registered via shortcode or query parameter.
  2) The first image found in the page front matter.
  3) The image set in the card data for this page.
  4) The default image set in the card data.
  */ -}}
  
{{- $image = $image | default $Registered.images -}}
{{- $image = $image | default .Params.images -}}

{{- /* If we have a slice of images, grab the first one. */ -}}
{{- if (reflect.IsSlice $image) -}}

  {{- $image = index $image 0 -}}

{{- /* If we still don't have an image */ -}}
{{- else if (not $image) -}}

  {{- /* Check for provided card images */ -}}
  {{- with $Parameters.Images -}}
  
    {{- /* Fetch the entry falling back to the default entry */ -}}  
    {{- $image = (index . $Path) | default (index . "default") -}}
        
  {{- end -}} {{- /* with $Parameters.Images */ -}}
  
{{- end -}} {{- /* if (reflect.IsSlice $image) */ -}}

{{- /* 
  Process the dates. We'll use .PublishDate and .Lastmod
  for post pages and .Lastmod for non-post pages.
  */ -}}
  
{{- $published_time := false -}}
{{- $modified_time := false -}}
{{- $updated_time := false -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

{{- if (eq .Type "post") -}}

{{- $published_time = .PublishDate.Format $iso8601 -}}
{{- $modified_time = .Lastmod.Format $iso8601 -}}

{{- else -}}

{{- $updated_time = .Lastmod.Format $iso8601 -}}

{{- end -}}

{{- /* 
  Resolve the Open Graph type.
  */ -}}

{{- /* Check whether an Open Graph type has been registered. */ -}}
{{- if not $type -}}

  {{- /* Otherwise look for registered audio */ -}}
  {{- if $audio -}}
  
  {{- $type = $Parameters.Audio.Type -}}
  
  {{- /* Otherwise look for registered video */ -}}
  {{- else if $video -}}
  
  {{- $type = $Parameters.Video.Type -}}
  
  {{- /* Otherwise check whether this is a single page */ -}}
  {{- else if .IsPage -}}
  
  {{- $type = "article" -}}
  
  {{- else -}}
  
  {{- $type = "website" -}}
  
  {{- end -}} {{- /* if $Registered.audio */ -}}
  
{{- end -}} {{- /* if not $type */ -}}

{{- /*
  Resolve the Twitter card attributes
  
  Configure width, height and player attributes 
  if video or audio has been registered; otherwise,
  configure Twitter summary card.
  */ -}}
  
{{- $width := false -}}
{{- $height := false -}}
{{- $player := false -}}



{{- /* Check whether a Twitter card has been registered */ -}}
{{- if not $card -}}


  {{- /* Check for card assignment in Parameters */ -}}
  {{- if (and $Parameters.Cards (index $Parameters.Cards $Path)) -}}

  {{- $card = index $Parameters.Cards $Path -}}
    
  {{- /* Otherwise use attribute values to determine card  */ -}}
  {{- else  if $video -}}
    
    {{- $width = $Parameters.Video.Width -}}
    {{- $height = $Parameters.Video.Height -}}
    {{- $card = "player" -}}
    {{- $player = $video -}}
    
  {{- /* Configure for audio if registered */ -}}
  {{- else if $audio -}}
    
    {{- $width = $Parameters.Audio.Width -}}
    {{- $height = $Parameters.Audio.Height -}}
    {{- $card = "player" -}}
    {{- $player = $audio -}}
    
  {{- /* 
    Otherwise configure for summary using card preference settings 
    */ -}}
  {{- else -}}
    
      {{- /* Fetch the preferences out of the parameters */ -}}
      {{- with $Parameters.Twitter.CardPreference -}}
      
        {{- $require_image := .LargeSummaryRequiresImage -}}
        {{- $preference := cond $.IsPage .SinglePage .ListPage -}}
        
        {{- /* Override the large preference if we require a missing image */ -}}
        {{- if (and (and (eq $preference "large") (not $image)) $require_image) -}}      
          {{- $preference = "small" -}}        
        {{- end -}}
        
        {{- /* Update the card variable value */ -}}
        {{- $card = cond (eq $preference "large") "summary_large_image" "summary" -}}
      
      {{- end -}} {{- /* with $Parameters.Twitter.CardPreference */ -}}
      
  {{- end -}} {{- /* if (and $Parameters.Cards (index $Parameters.Cards $Path)) */ -}}
    
{{- end -}} {{- /* if not $card */ -}}

{{- $Attributes := dict "reading_time" $reading_time "url" $url "site_name" $site_name "domain" $domain "section" $section "tags" $tags "site" $site "creator" $creator "description" $description "title" $title "image" $image "published_time" $published_time "modified_time" $modified_time "updated_time" $updated_time "audio" $audio "video" $video "type" $type "width" $width "height" $height "card" $card "player" $player -}}

{{- .Scratch.Set "plugin-cards.TwitterOG" $Attributes -}}