{{- $registered := newScratch -}}

{{/* Resolve registered resources */}}

{{- partial "plugin-cards/twitter-og/parse-registered.html" (dict "content" .Content "scratch" $registered) -}}

{{- $title := $registered.Get "title" -}}
{{- $description := $registered.Get "description" -}}
{{- $image := $registered.Get "image" -}}
{{- $audio := $registered.Get "audio" -}}
{{- $video := $registered.Get "video" -}}
{{- $type := $registered.Get "type" -}}
{{- $card := $registered.Get "card" -}}

{{- $Registered := dict "title" $title "description" $description "image" $image "audio" $audio "video" $video "type" $type "card" $card -}}

{{- $TwitterOG := dict "Registered" $Registered -}}

{{- .Scratch.Set "plugin-cards.TwitterOG" $TwitterOG -}}