{{- /* Load cardify parameters */ -}}
{{- $scratch := .scratch -}}
{{- $context := .context -}}

{{- partial "plugin_cards/cardify/load-parameters.html" $scratch -}}

{{- partial "plugin_cards/debug-print.html" (slice "Cardify" "Parameters" $scratch) -}}

{{- with ($scratch.Get "Cardify").Parameters -}}

{{- if (or .Card.Creation.QueryMatch .Card.Creation.HostMatch) -}}

{{- /* Load HTML element specifiers into the page scratch */ -}}
{{- partial "plugin_cards/cardify/load-specifiers.html" $scratch -}}

{{- partial "plugin_cards/debug-print.html" (slice "Cardify" "Specifiers" $scratch) -}}

{{- $source_dir := "js/plugin_cards/" -}}
{{- $template_name := "cardify.js" -}}
{{- $source := path.Join $source_dir $template_name -}}
{{- $target := path.Join "assets" $source -}}

{{- $script := resources.Get $source | resources.ExecuteAsTemplate $target $scratch -}}
{{- if .Build.MinifyScript }}{{ $script = $script | minify }}{{ end -}}
{{- if .Build.Fingerprint }}{{ $script = $script | fingerprint }}{{ end -}}

{{- print "\n" -}}
<script src="{{ $script.Permalink }}"></script>

{{- $source_dir = "sass/plugin_cards/" -}}
{{- $template_name = "cardify.scss" -}}
{{- $source = path.Join $source_dir $template_name -}}
{{- $target := path.Join "assets" $source -}}
{{- $style := resources.Get $source | resources.ExecuteAsTemplate $target $scratch -}} 

{{- $target = $target | replaceRE "sass|scss" "css" -}}
{{- $options := dict "targetPath" $target  "outputStyle" .Build.SassOutput -}}
{{- $style = $style | toCSS $options -}}

{{- if .Build.Fingerprint }}{{ $style = $style | fingerprint }}{{ end -}}

{{- print "\n" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{- end -}}

{{- end -}}