{{- /* 
  Load HTML element class names and IDs into the provided scratch. 
  */ -}}
{{- .SetInMap "Specifiers" "Card" "cardify-card" -}}
{{- .SetInMap "Specifiers" "Image" "cardify-card-img" -}}
{{- .SetInMap "Specifiers" "Body" "cardify-card-body" -}}
{{- .SetInMap "Specifiers" "Title" "cardify-card-title" -}}
{{- .SetInMap "Specifiers" "Text" "cardify-card-text" -}}
{{- .SetInMap "Specifiers" "Link" "cardify-card-link" -}}
{{- .SetInMap "Specifiers" "PublishDate" "cardify-card-publish-date" -}}
{{- .SetInMap "Specifiers" "ReadingTime" "cardify-card-reading-time" -}}

{{- /* Move the map of specifiers to under Cardify */ -}}
{{- $Specifiers := .Get "Specifiers" -}}
{{- .Delete "Specifiers" -}}
{{- .SetInMap "Cardify" "Specifiers" $Specifiers -}}