{{- /* 
  Resolve the relevant parameter values 
  */ -}}
  
{{- $ConfigFile := (.Scratch.Get "plugin-cards").ConfigFile.TwitterOG -}}
{{- $Params := (.Scratch.Get "plugin-cards").Params -}}
{{- $Params  = $Params.TwitterOG -}}

{{- $Enable := $Params.Enable -}}
{{- $Enable  = $Enable | default $ConfigFile.Enable -}}
{{- $Enable  = $Enable | default true -}}

{{- $Data := $Params.Data -}}
{{- $Data  = $Data | default $ConfigFile.Data -}}
{{- $Data  = $Data | default dict -}}

{{- $VideoWidth := $Params.Video.Width -}}
{{- $VideoWidth  = $VideoWidth | default $ConfigFile.Video.Width -}}
{{- $VideoWidth  = $VideoWidth | default 600 -}}

{{- $VideoHeight := $Params.Video.Height -}}
{{- $VideoHeight  = $VideoHeight | default $ConfigFile.Video.Height -}}
{{- $VideoHeight  = $VideoHeight | default 338 -}}

{{- $VideoType := $Params.Video.Type -}}
{{- $VideoType  = $VideoType | default $ConfigFile.Video.Type -}}
{{- $VideoType  = $VideoType | default "video.other" -}}

{{- $AudioWidth := $Params.Audio.Width -}}
{{- $AudioWidth  = $AudioWidth | default $ConfigFile.Audio.Width -}}
{{- $AudioWidth  = $AudioWidth | default 338 -}}

{{- $AudioHeight := $Params.Audio.Height -}}
{{- $AudioHeight  = $AudioHeight | default $ConfigFile.Audio.Height -}}
{{- $AudioHeight  = $AudioHeight | default 338 -}}

{{- $AudioType := $Params.Audio.Type -}}
{{- $AudioType  = $AudioType | default $ConfigFile.Audio.Type -}}
{{- $AudioType  = $AudioType | default "music.song" -}}

{{- $TwitterUsername := $Params.Twitter.Username -}}
{{- $TwitterUsername  = $TwitterUsername | default $ConfigFile.Twitter.Username -}}
{{- $TwitterUsername  = $TwitterUsername | default site.Params.twitter_username -}}

{{- $SinglePage := $Params.Twitter.CardPreference.SinglePage -}}
{{- $SinglePage  = $SinglePage | default $ConfigFile.Twitter.CardPreference.SinglePage -}}
{{- $SinglePage  = $SinglePage | default "large" -}}

{{- $ListPage := $Params.Twitter.CardPreference.ListPage -}}
{{- $ListPage  = $ListPage | default $ConfigFile.Twitter.CardPreference.ListPage -}}
{{- $ListPage  = $ListPage | default "small" -}}

{{- $RequiresImage := $Params.Twitter.CardPreference.LargeSummaryRequiresImage -}}
{{- $RequiresImage  = $RequiresImage | default $ConfigFile.Twitter.CardPreference.LargeSummaryRequiresImage -}}
{{- $RequiresImage  = $RequiresImage | default true -}}


{{- /*
  Create a local scratch and load with resolved values.
  */ -}}
{{- $scratch := newScratch -}}
  
{{- $scratch.SetInMap "Parameters" "Enable" $Enable -}}
{{- $scratch.SetInMap "Parameters" "Data" $Data -}}

{{- $scratch.SetInMap "Video" "Width" $VideoWidth -}}
{{- $scratch.SetInMap "Video" "Height" $VideoHeight -}}
{{- $scratch.SetInMap "Video" "Type" $VideoType -}}

{{- $scratch.SetInMap "Audio" "Width" $AudioWidth -}}
{{- $scratch.SetInMap "Audio" "Height" $AudioHeight -}}
{{- $scratch.SetInMap "Audio" "Type" $AudioType -}}

{{- $scratch.SetInMap "Twitter" "Username" $TwitterUsername -}}
{{- $scratch.SetInMap "CardPreference" "SinglePage" $SinglePage -}}
{{- $scratch.SetInMap "CardPreference" "ListPage" $ListPage -}}
{{- $scratch.SetInMap "CardPreference" "LargeSummaryRequiresImage" $RequiresImage -}}

{{- /* 
  Assemble the inner maps 
  */ -}}
{{- $scratch.SetInMap "Twitter" "CardPreference" ($scratch.Get "CardPreference") -}}
{{- $scratch.SetInMap "Parameters" "Video" ($scratch.Get "Video") -}}
{{- $scratch.SetInMap "Parameters" "Audio" ($scratch.Get "Audio") -}}
{{- $scratch.SetInMap "Parameters" "Twitter" ($scratch.Get "Twitter") -}}

{{- /* 
  Insert the Parameters map into the page scratch under TwitterOG 
  */ -}}
{{- .Scratch.SetInMap "TwitterOG" "Parameters" ($scratch.Get "Parameters") -}}