{{- /* Create a local scratch for assembling the map */ -}}
{{- $scratch := newScratch -}}

{{/* Resolve registered resources */}}

{{- $content := .Content | markdownify -}}

{{- /* Look for a card-config comment */ -}}

{{- with findRE `<!--card-config(.|\n)+-->` $content -}}

{{- /* Split and prune the entries */ -}}
{{- $entries := split (index . 0) "\n" | after 1 -}}
{{- $entries  = first (sub (len $entries) 1) $entries -}}

{{- range $entries -}}

{{- /* Separate the key and value, correct for autolinking */ -}}
{{- $key_value := split . "=" -}}
{{- $key := index $key_value 0 -}}
{{- $url_re := `[[][^]]+[]][(]([^)]+)[)]` -}}
{{- $value := replaceRE $url_re "$1" (index $key_value 1) -}}

{{- /* Load the entry into the map */ -}}
{{- $scratch.SetInMap "Registered" $key $value -}}

{{- end -}} {{/* range $entries */}}

{{- end -}} {{/* with findRE `<!--card-config(.|\n)+-->` $content */}}

{{- if not (isset ($scratch.Get "Registered") "title") -}}
{{- $title_re := `<h[0-9][^>]+data-card-title="([^"]+)"` -}}
{{- with findRE $title_re $content -}}
{{- $scratch.SetInMap "Registered" "title" (replaceRE $title_re "$1" (index . 0)) -}}
{{- end -}}
{{- end -}}

{{- if not (isset ($scratch.Get "Registered") "image") -}}
{{- $image_re := `<img[^>]+src="([^"]+)\?[^"]*card-image[^"]*"` -}}
{{- $images := slice -}}
{{- range findRE $image_re $content -}}
{{- $images = $images | append (replaceRE $image_re "$1" .) -}}
{{- end -}}
{{ $scratch.SetInMap "Registered" "images" $images }}
{{- end -}}

{{- if not (isset ($scratch.Get "Registered") "audio") -}}
{{- $audio_re := `<audio[^>]+src="([^"]+)\?[^"]*card-audio[^"]*"` -}}
{{- $audio := slice -}}
{{- range findRE $audio_re $content -}}
{{- $audio = $audio | append (replaceRE $audio_re "$1" .) -}}
{{- end -}}
{{ $scratch.SetInMap "Registered" "audio" $audio }}
{{- end -}}

{{- if not (isset ($scratch.Get "Registered") "video") -}}
{{- $video_re := `<video[^>]+src="([^"]+)\?[^"]*card-video[^"]*"` -}}
{{- $video := slice -}}
{{- range findRE $video_re $content -}}
{{- $video = $video | append (replaceRE $video_re "$1" .) -}}
{{- end -}}
{{ $scratch.SetInMap "Registered" "video" $video }}
{{- end -}}

{{- /* Insert the Registered map into the page scratch. */ -}}
{{- .Scratch.SetInMap "TwitterOG" "Registered" ($scratch.Get "Registered") -}}