{{- $params := site.Params -}}
{{- $data := site.Data.plugin_cards_data -}}
{{- $CardifyCardSpacerY := $params.cards_cardify_card_spacer_y | default $data.CardifyCardSpacerY | default "1rem" -}}
{{- $CardifyCardSpacerX := $params.cards_cardify_card_spacer_x | default $data.CardifyCardSpacerX | default "1rem" -}}
{{- $CardifyCardTitleSpacerY := $params.cards_cardify_card_title_spacer_y | default $data.CardifyCardTitleSpacerY | default "1rem * 0.5" -}}
{{- $CardifyCardBG := $params.cards_cardify_card_bg | default $data.CardifyCardBG | default "white" -}}
{{- $CardifyCardBorderWidth := $params.cards_cardify_card_border_width | default $data.CardifyCardBorderWidth | default "1px" -}}
{{- $CardifyCardBorderColor := $params.cards_cardify_card_border_color | default $data.CardifyCardBorderColor | default "rgba(black, .125)" -}}
{{- $CardifyCardBorderRadius := $params.cards_cardify_card_border_radius | default $data.CardifyCardBorderRadius | default "0.25rem" -}}
{{- $CardifyCardInnerBorderRadius := $params.cards_cardify_card_inner_border_radius | default $data.CardifyCardInnerBorderRadius | default "0.25rem" -}}


$cardify-card-spacer-y:             {{ $CardifyCardSpacerY }};
$cardify-card-spacer-x:             {{ $CardifyCardSpacerX }};
$cardify-card-title-spacer-y:       {{ $CardifyCardTitleSpacerY }};
$cardify-card-bg:                   {{ $CardifyCardBG }};
$cardify-card-border-width:         {{ $CardifyCardBorderWidth }};
$cardify-card-border-color:         {{ $CardifyCardBorderColor }};
$cardify-card-border-radius:        {{ $CardifyCardBorderRadius }};
$cardify-card-inner-border-radius:  {{ $CardifyCardInnerBorderRadius }};

.cardify-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $cardify-card-bg;
  background-clip: border-box;
  border: $cardify-card-border-width solid $cardify-card-border-color;
  border-radius: $cardify-card-border-radius;
  
  
}

.cardify-card-body {
  flex: 1 1 auto;
  padding: $cardify-card-spacer-y $cardify-card-spacer-x;
}

.cardify-card-title {
  margin-bottom: $cardify-card-title-spacer-y;
}

.cardify-card-text {

  &:last-child {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 0;
    
    .publish-date {
      display: none;
      @media (min-width:576px) { display: initial; }
    }
  }
  
}

.cardify-card-img {
  width: 100%;
  border-top-left-radius: $cardify-card-inner-border-radius;
  border-top-right-radius: $cardify-card-inner-border-radius;
}

.cardify-card-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}
