{{- $params := site.Params -}}

{{- $config := site.Data.plugin_cards_config -}}
{{- $config  = $config | default site.Data.plugin_cards.config -}}

{{- $SpacerY := index $params "cards.card.style.spacery" -}}
{{- $SpacerY  = $SpacerY | default $config.Card.Style.SpacerY -}}
{{- $SpacerY  = $SpacerY | default "1rem" -}}

{{- $SpacerX := index $params "cards.card.style.spacerx" -}}
{{- $SpacerX  = $SpacerX | default $config.Card.Style.SpacerX -}}
{{- $SpacerX  = $SpacerX | default "1rem" -}}

{{- $TitleSpacerY := index $params "cards.card.style.titlespacery" -}}
{{- $TitleSpacerY  = $TitleSpacerY | default $config.Card.Style.TitleSpacerY -}}
{{- $TitleSpacerY  = $TitleSpacerY | default "1rem * 0.5" -}}

{{- $BG := index $params "cards.card.style.bg" -}}
{{- $BG  = $BG | default $config.Card.Style.BG -}}
{{- $BG  = $BG | default "white" -}}

{{- $BorderWidth := index $params "cards.card.style.borderwidth" -}}
{{- $BorderWidth  = $BorderWidth | default $config.Card.Style.BorderWidth -}}
{{- $BorderWidth  = $BorderWidth | default "1px" -}}

{{- $BorderColor := index $params "cards.card.style.bordercolor" -}}
{{- $BorderColor  = $BorderColor | default $config.Card.Style.BorderColor -}}
{{- $BorderColor  = $BorderColor | default "rgba(black, .125)" -}}

{{- $BorderRadius := index $params "cards.card.style.borderradius" -}}
{{- $BorderRadius  = $BorderRadius | default $config.Card.Style.BorderRadius -}}
{{- $BorderRadius  = $BorderRadius | default "0.25rem" -}}

{{- $InnerBorderRadius := index $params "cards.card.style.innerborderradius" -}}
{{- $InnerBorderRadius  = $InnerBorderRadius | default $config.Card.Style.InnerBorderRadius -}}
{{- $InnerBorderRadius  = $InnerBorderRadius | default "0.25rem" -}}

{{- $TimeDateColor := index $params "cards.card.style.timedatecolor" -}}
{{- $TimeDateColor  = $TimeDateColor | default $config.Card.Style.TimeDateColor -}}
{{- $TimeDateColor  = $TimeDateColor | default "#666666" -}}


$spacer-y:             {{ $SpacerY }};
$spacer-x:             {{ $SpacerX }};
$title-spacer-y:       {{ $TitleSpacerY }};
$bg:                   {{ $BG }};
$border-width:         {{ $BorderWidth }};
$border-color:         {{ $BorderColor }};
$border-radius:        {{ $BorderRadius }};
$inner-border-radius:  {{ $InnerBorderRadius }};
$time-date-color:      {{ $TimeDateColor }};

.cardify-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: $bg;
  background-clip: border-box;
  border: $border-width solid $border-color;
  border-radius: $border-radius;
  
  
}

.cardify-card-body {
  flex: 1 1 auto;
  padding: $spacer-y $spacer-x;
}

.cardify-card-title {
  margin-bottom: $title-spacer-y;
}

.cardify-card-text {

  &:last-child {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    margin-bottom: 0;
    color: $time-date-color;
  }
  
}

.cardify-card-img {
  width: 100%;
  border-top-left-radius: $inner-border-radius;
  border-top-right-radius: $inner-border-radius;
}

.cardify-card-link {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: "";
  }
}