{{- /* 
  Resolve the relevant parameter values 
  */ -}}
  
{{- $Config := (.Get "Config").StructuredData -}}
{{- $Enable := $Config.Enable | default true -}}
{{- $AuthorName := $Config.AuthorName | default site.Author.name -}}
{{- $ProfileURL := $Config.ProfileURL | default site.Author.profileurl -}}

{{- /*
  Create the Parameters map
  */ -}}
{{- $Parameters := dict "Enable" $Enable "AuthorName" $AuthorName "ProfileURL" $ProfileURL -}}

{{- /* 
  Insert the Parameters map into the plugin scratch
  */ -}}
{{- .SetInMap "StructuredData" "Parameters" $Parameters -}}