{{- /* 
  Resolve the relevant parameter values 
  */ -}}
  
{{- $ConfigFile := (.Scratch.Get "plugin-cards").ConfigFile.StructuredData -}}

{{- $Enable := $ConfigFile.Enable -}}
{{- $Enable  = $Enable | default true -}}

{{- $AuthorName := $ConfigFile.AuthorName -}}
{{- $AuthorName  = $AuthorName | default site.Author.name -}}

{{- $ProfileURL := $ConfigFile.AuthorName -}}
{{- $ProfileURL  = $ProfileURL | default site.Author.profileurl -}}

{{- /*
  Create a local scratch and load with resolved values.
  */ -}}
{{- $scratch := newScratch -}}

{{- $scratch.SetInMap "Parameters" "Enable" $Enable -}}
{{- $scratch.SetInMap "Parameters" "AuthorName" $AuthorName -}}
{{- $scratch.SetInMap "Parameters" "ProfileURL" $ProfileURL -}}

{{- /* 
  Insert the Parameters map into the page scratch under TwitterOG 
  */ -}}
{{- .Scratch.SetInMap "StructuredData" "Parameters" ($scratch.Get "Parameters") -}}