{{- /* 
  Resolve the relevant parameter values 
  */ -}}
  
{{- $Config := (.Get "Config").Cardify -}}
{{- $QueryMatch := $Config.Card.Creation.QueryMatch | default true -}}
{{- $QueryParameter := $Config.Card.Creation.QueryParameter | default "cardify" -}}
{{- $OverridesFilter := $Config.Card.Creation.QueryMatchOverridesFilter | default true -}}
{{- $HostMatch := $Config.Card.Creation.HostMatch | default false -}}
{{- $ReadMoreLink := $Config.Card.HostMatch.ReadMoreLink | default ".read-more" -}}
{{- $ListSandbox := $Config.Card.HostMatch.ListSandbox | default ".post-body" -}}
{{- $PageSandbox := $Config.Card.HostMatch.PageSandbox | default "#post-body" -}}
{{- $CustomSelector := $Config.Card.HostMatch.CustomSelector | default "" -}}
{{- $URLFilter := $Config.Card.HostMatch.URLFilter | default ".*.html" -}}
{{- $SpacerY := $Config.Card.Style.SpacerY | default "1rem" -}}
{{- $SpacerX := $Config.Card.Style.SpacerX | default "1rem" -}}
{{- $TitleSpacerY := $Config.Card.Style.TitleSpacerY | default "0.5rem" -}}
{{- $BG := $Config.Card.Style.BG | default "white" -}}
{{- $BorderWidth := $Config.Card.Style.BorderWidth | default "1px" -}}
{{- $BorderColor := $Config.Card.Style.BorderColor | default "rgba(0,0,0,0.125)" -}}
{{- $BorderRadius := $Config.Card.Style.BorderRadius | default "0.5rem" -}}
{{- $TimeDateColor := $Config.Card.Style.TimeDateColor | default "#666666" -}}
{{- $Fingerprint := $Config.Build.Fingerprint | default true -}}
{{- $SassOutput := $Config.Build.SassOutput | default "nested" -}}
{{- $MinifyScript := $Config.Build.MinifyScript | default false -}}

{{- /*
  Create the Parameters map
  */ -}}
  {{- $Parameters := dict "Card" (dict "Creation" (dict "QueryMatch" $QueryMatch "QueryParameter" $QueryParameter "QueryMatchOverridesFilter" $OverridesFilter "HostMatch" $HostMatch) "HostMatch" (dict "ReadMoreLink" $ReadMoreLink "ListSandbox" $ListSandbox "PageSandbox" $PageSandbox "CustomSelector" $CustomSelector "URLFilter" $URLFilter) "Style" (dict "SpacerY" $SpacerY "SpacerX" $SpacerX "TitleSpacerY" $TitleSpacerY "BG" $BG "BorderWidth" $BorderWidth "BorderColor" $BorderColor "BorderRadius" $BorderRadius "TimeDateColor" $TimeDateColor)) "Build" (dict  "Fingerprint" $Fingerprint "SassOutput" $SassOutput "MinifyScript" $MinifyScript) -}}

{{- /* 
  Insert the Parameters map into the plugin scratch
  */ -}}
{{- .SetInMap "Cardify" "Parameters" $Parameters -}}