{{/* 
 
  Generates a preview card using the specified parameter values.
  
  Parameters:
  
    url: The URL of the card's target.    
    class:        The class name to assign to the wrapper.
    layout:       horizontal or vertical.
    type:         summary, video, or audio.
    image:        The image URL for summary cards.
    audio:        The audio URL for audio cards.
    video:        The video URL for video cards.
    reading_time: The reading time value.
    publish_date: The linked content's publish date.
  
  */}}

{{- if (and .class (and .layout (and .url .type))) -}}

<div class="{{ .class }}{{ if (eq .layout "horizontal") }} horizontal{{ end }}">
  {{- if (and (eq .type "summary") .image) -}}
  <img src="{{ .image }}" />
  {{- else if (and (eq .type "audio") .audio) -}}
  <audio src="{{ .audio }}" controls preload="metadata"></audio>
  {{- else if (and (eq .type "video") .video) -}}
  <video src="{{ .video }}" playsinline autoplay muted loop></video>
  {{- end }}
  <div>
      {{ with .title }}<h3>{{ . }}</h3>{{ end }}
      {{ with .summary }}<p>{{ . | safeHTML }}</p>{{ end }}
      <a href="{{ .url }}"></a>
      <p>
      {{- with .publish_date -}}
        <small>{{ . }}</small>
      {{- end -}}
      {{- if (and (eq .type "summary") .reading_time) -}}
        <small>reading time {{ .reading_time }}</small>
      {{- end -}}
      </p>
  </div>
</div>

{{- end }}