{{/* 
 
  Generates a preview card using the specified parameter values.
  
  Required parameters:
    url:          The URL of the card's target.    
    class:        The class name to assign to the wrapper.
    layout:       horizontal or vertical.
    type:         summary, video, or audio.
    
  Optional parameters:
    image:        The image URL for summary cards.
    audio:        The audio URL for audio cards.
    video:        The video URL for video cards.
    reading_time: The reading time value.
    publish_date: The linked content's publish date.
  
  */}}

{{- /* Check that the required parameters were provided. */ -}}
{{- if (and .class (and .layout (and .url .type))) -}}

  {{- /* Resolve the class value. */ -}}
  {{- $class := slice .class (printf "type-%s" .type) -}}
  {{- if (eq .layout "horizontal") -}}
  {{- $class = $class | append "horizontal" -}}
  {{- end -}}
  {{- $class = delimit $class " " -}}

<div class="{{ $class }}">
  
  {{- $type_dir := "plugin-cards/cardify/card-types" -}}

  {{- /* Check for audio card type. */ -}}
  {{- if (eq "audio" .type) -}}  
    {{- partial (path.Join $type_dir "audio-card.html") . -}}
  
  {{- /* Otherwise, check for video card type */ -}}
  {{- else if (eq "video" .type) -}}  
    {{- partial (path.Join $type_dir "video-card.html") . -}}
  
  {{- /* Otherwise go with a summary card type */ -}}
  {{- else -}}
    {{- partial (path.Join $type_dir "summary-card.html") . -}}  
  {{- end -}}

</div>

{{- end }}