@import "vendor/rfs";

@mixin parameter { @content; }

{{ with (.Scratch.Get "plugin-cards.Parameters").Cardify }}

/// Plugin parameter values
$border-width:         {{ .Style.Variables.BorderWidth }};
$border-radius:        {{ .Style.Variables.BorderRadius }};
$inner-border-radius:  calc(#{$border-radius} - #{$border-width});

/// The card container
.{{ .Specifiers.CardClassName }} {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: white;
  border-color: rgba(black, .125);
  border-style: solid;  
  border-width: $border-width;
  border-radius: $border-radius;
  
  {{ with .Style.Card }}
  @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
  
  &.horizontal { flex-direction: row; }
  

  /// The card image
  .{{ .Specifiers.ImageClassName }} {
    width: 100%;
    aspect-ratio: 1200 / 628;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-top-left-radius: $inner-border-radius;
    border-top-right-radius: $inner-border-radius;
    
    &.horizontal {
      width: 30%;
      aspect-ratio: 1 / 1;
      height: auto;
      object-fit: cover;
      border-top-right-radius: 0;
      border-bottom-left-radius: $inner-border-radius;
    }
    
  } // ImageClassName
  
  /// The card audio
  .{{ .Specifiers.AudioClassName }} {
    width: 100%;
    aspect-ratio: 1200 / 628;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-top-left-radius: $inner-border-radius;
    border-top-right-radius: $inner-border-radius;
    
    &.horizontal {
      width: 30%;
      aspect-ratio: 1 / 1;
      height: auto;
      object-fit: cover;
      border-top-right-radius: 0;
      border-bottom-left-radius: $inner-border-radius;
    }
    
  } // AudioClassName

  /// The card video
  .{{ .Specifiers.VideoClassName }} {
    width: 100%;
    aspect-ratio: 1200 / 628;
    object-fit: cover;
    padding: 0;
    margin: 0;
    border-top-left-radius: $inner-border-radius;
    border-top-right-radius: $inner-border-radius;
    
    &.horizontal {
      width: 30%;
      aspect-ratio: 1 / 1;
      height: auto;
      object-fit: cover;
      border-top-right-radius: 0;
      border-bottom-left-radius: $inner-border-radius;
    }
    
  } // VideoClassName

  /// The card body containing the title, description, 
  /// date and reading time.
  .{{ .Specifiers.BodyClassName }} {
    flex: 1 1 auto;
    @include margin(.125rem .25rem);
    display: flex;
    flex-direction: column;
    gap: .25rem;
    
  {{ with .Style.Body }}
    @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
    
    /// The card title
    .{{ .Specifiers.TitleClassName }} {
      padding: 0;
      margin: 0;
      @include font-size(1rem);
      line-height: 1.1;
      
  {{ with .Style.Title }}
      @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
  
      &.horizontal {
        @media (max-width: 600px) { text-align: center; }
      }
  
    } // TitleClassName

    /// The remaining card text (description and time/date/reading-time) 
    .{{ .Specifiers.TextClassName }} {    
      padding: 0;
      margin: 0;
      line-height: 1;
      @include font-size(.9rem);
      
      /// Just the description
      &:not(&:last-child) {
        
  {{ with .Style.Text }}
        @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
  
        &.horizontal {
          @media (max-width: 600px) { display: none; }
        }
      }
      
      /// Just the time/date/reading-time
      &:last-child {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        @include padding-top(.5em);
        //border-top-width: $border-width;
        //border-top-color: rgba(black, .125);
        //border-top-style: solid;
        
        &.horizontal {
          @media (max-width: 600px) { justify-content: center; }
        }
      }
      
      /// The reading time.
      .{{ .Specifiers.ReadingTimeClassName }} {
        color: #9091AB;
        
  {{ with .Style.ReadingTime }}
        @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
  
        &.horizontal {
          @media (max-width: 600px) { display: none; }
        }
  
      } // ReadingTimeClassName
      
      /// The publish date.
      .{{ .Specifiers.PublishDateClassName }} {
        color: #666;
        
   {{ with .Style.PublishDate }}
        @include parameter { {{ template "rfs-wrap" . }} }
   {{ end }}
   
      } // PublishDateClassName
      
    } // TextClassName
    
    /// Stretching the invisble link across the entire card.
    .{{ .Specifiers.LinkClassName }}::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
    } // LinkClassName
    
  } // BodyClassName

} // CardClassName

{{ end }}

{{ define "rfs-wrap" }}
{{ $pattern := `(font-size|padding|padding-top|padding-right|padding-bottom|padding-left|margin|margin-top|margin-right|margin-bottom|margin-left):\w*([^;]+)` }}
{{ $replacement := `@include $1($2)` }}
{{ replaceRE $pattern $replacement . }}
{{ end }}