@import "vendor/rfs";

@mixin parameter { @content; }

{{ with (.Scratch.Get "plugin-cards.Parameters").Cardify }}

/// Plugin parameter values
$border-width:         {{ .Style.Variables.BorderWidth }};
$border-radius:        {{ .Style.Variables.BorderRadius }};
$inner-border-radius:  calc(#{$border-radius} - #{$border-width});

.{{ .Specifiers.CardClassName }} {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-width: $border-width;
  border-radius: $border-radius;
  {{ with .Style.Card }}
  @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}

  .{{ .Specifiers.ImageClassName }} {
    width: 100%;
    border-top-left-radius: $inner-border-radius;
    border-top-right-radius: $inner-border-radius;
  } // ImageClassName
  
  .{{ .Specifiers.BodyClassName }} {
    flex: 1 1 auto;
  {{ with .Style.Body }}
    @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
    
    .{{ .Specifiers.TitleClassName }} {
  {{ with .Style.Title }}
      @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
    } // TitleClassName

    .{{ .Specifiers.TextClassName }} {
    
      &:not(&:last-child) {
  {{ with .Style.Text }}
        @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
      }
      
      &:last-child {
        display: flex;
        justify-content: space-between;
        align-content: stretch;
        margin-bottom: 0;
      }
      
      .{{ .Specifiers.ReadingTimeClassName }} {
  {{ with .Style.ReadingTime }}
        @include parameter { {{ template "rfs-wrap" . }} }
  {{ end }}
      } // ReadingTimeClassName
      
      .{{ .Specifiers.PublishDateClassName }} {
   {{ with .Style.PublishDate }}
        @include parameter { {{ template "rfs-wrap" . }} }
   {{ end }}
      } // PublishDateClassName
      
    } // TextClassName
    
    .{{ .Specifiers.LinkClassName }}::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      content: "";
    } // LinkClassName
    
  } // BodyClassName

  &.horizontal {
    
    flex-direction: row;      
    
    .{{ .Specifiers.ImageClassName }} {
      width: 30%;
      height: auto;
      object-fit: cover;
      border-top-right-radius: 0;
      border-bottom-left-radius: $inner-border-radius;
    } // ImageClassName
    
  } // CardClassName.horizontal

} // CardClassName

{{ end }}

{{ define "rfs-wrap" }}
{{ $pattern := `(font-size|padding|padding-top|padding-right|padding-bottom|padding-left|margin|margin-top|margin-right|margin-bottom|margin-left):\w*([^;]+)` }}
{{ $replacement := `@include $1($2)` }}
{{ replaceRE $pattern $replacement . }}
{{ end }}