{{- $MinifyScript := .Scratch.Get "Build.MinifyScript" -}}
{{- $Fingerprint := .Scratch.Get "Build.Fingerprint" -}}
{{- $SassOutput := .Scratch.Get "Build.SassOutput" -}}
{{- $QueryMatch := .Scratch.Get "Card.Creation.QueryMatch" -}}
{{- $HostMatch := .Scratch.Get "Card.Creation.HostMatch" -}}

{{- if (or $QueryMatch $HostMatch) -}}

{{- $source_dir := "js/plugin_cards/" -}}
{{- $template_name := "cardify.js" -}}
{{- $source := path.Join $source_dir $template_name -}}
{{- $target := path.Join "assets" $source -}}

{{- $script := resources.Get $source | resources.ExecuteAsTemplate $target . -}}
{{- if $MinifyScript }}{{ $script = $script | minify }}{{ end -}}
{{- if $Fingerprint }}{{ $script = $script | fingerprint }}{{ end -}}

{{- print "\n" -}}
<script src="{{ $script.Permalink }}"></script>

{{- $source_dir = "sass/plugin_cards/" -}}
{{- $template_name = "cardify.scss" -}}
{{- $source = path.Join $source_dir $template_name -}}
{{- $target := path.Join "assets" $source -}}
{{- $style := resources.Get $source | resources.ExecuteAsTemplate $target . -}} 

{{- $target = $target | replaceRE "sass|scss" "css" -}}
{{- $options := dict "targetPath" $target  "outputStyle" $SassOutput -}}
{{- $style = $style | toCSS $options -}}

{{- if $Fingerprint }}{{ $style = $style | fingerprint }}{{ end -}}

{{- print "\n" -}}
<link rel="stylesheet" href="{{ $style.Permalink }}">

{{- end -}}