{{/* Print page attributes loaded into the page scratch */}}

{{- with .Scratch.Get "Attributes" -}}

{{- printf "\n<!--\ndebug-attributes:" | safeHTML }}
{{ printf "url: %s" (.url | default "undefined") }}
{{ printf "site_name: %s" (.site_name | default "undefined") }}
{{ printf "domain: %s" (.domain | default "undefined") }}
{{ printf "description: %s" (.description | default "undefined") }}
{{ printf "title: %s" (.title | default "undefined") }}
{{ printf "image: %s" (.image | default "undefined") }}
{{ printf "section: %s" (.section | default "undefined") }}
{{ printf "tag: %s" (.tag | default "undefined") }}
{{ printf "published_time: %s" (.published_time | default "undefined") }}
{{ printf "modified_time: %s" (.modified_time | default "undefined") }}
{{ printf "updated_time: %s" (.updated_time | default "undefined") }}
{{ printf "audio: %s" (.audio | default "undefined") }}
{{ printf "card: %s" (.card | default "undefined") }}
{{ printf "player: %s" (.player | default "undefined") }}
{{ printf "player:width: %s" ((index . "player:width") | default "undefined") }}
{{ printf "player:height: %s" ((index . "player:height") | default "undefined") }}
{{ printf "type: %s" (.type | default "undefined") }}
{{ printf "reading_time: %v" (.reading_time | default "undefined") }}
{{ printf "site: %s" (.site | default "undefined") }}
{{ printf "creator: %s" (.creator | default "undefined") }}
{{ printf "-->" | safeHTML }}

{{- else -}}

{{- printf "\n<!-- debug-attributes: no attributes -->" | safeHTML -}}

{{- end -}}
