{{- /* 
  Construct a map from the site.Params entries 
  */ -}}
  
{{- $scratch := newScratch -}}

{{- $scratch.SetInMap "TwitterOG" "Enable" (index site.Params "cards.twitterog.enable") -}}
{{- $scratch.SetInMap "TwitterOG" "Data" ((index site.Params "cards.twitterog.data" | default "{}") | unmarshal) -}}
{{- $scratch.SetInMap "Video" "Width" (index site.Params "cards.twitterog.video.width") -}}
{{- $scratch.SetInMap "Video" "Height" (index site.Params "cards.twitterog.video.height") -}}
{{- $scratch.SetInMap "Video" "Type" (index site.Params "cards.twitterog.video.type") -}}
{{- $scratch.SetInMap "Audio" "Width" (index site.Params "cards.twitterog.audio.width") -}}
{{- $scratch.SetInMap "Audio" "Height" (index site.Params "cards.twitterog.audio.height") -}}
{{- $scratch.SetInMap "Audio" "Type" (index site.Params "cards.twitterog.audio.type") -}}
{{- $scratch.SetInMap "Twitter" "Username" (index site.Params "cards.twitterog.twitter.username") -}}
{{- $scratch.SetInMap "CardPreference" "SinglePage" (index site.Params "cards.twitterog.twitter.cardpreference.singlepage") -}}
{{- $scratch.SetInMap "CardPreference" "ListPage" (index site.Params "cards.twitterog.twitter.cardpreference.listpage") -}}
{{- $scratch.SetInMap "CardPreference" "LargeSummaryRequiresImage" (index site.Params "cards.twitterog.twitter.cardpreference.largesummaryrequiresimage") -}}
{{- $CardPreferences := $scratch.Get "CardPreference" -}}
{{- $scratch.SetInMap "Twitter" "CardPreference" $CardPreferences -}}
{{- $Twitter := $scratch.Get "Twitter" -}}
{{- $scratch.SetInMap "TwitterOG" "Twitter" $Twitter -}}
{{- $Video := $scratch.Get "Video" -}}
{{- $scratch.SetInMap "TwitterOG" "Video" $Video -}}
{{- $Audio := $scratch.Get "Audio" -}}
{{- $scratch.SetInMap "TwitterOG" "Audio" $Audio -}}
{{- $TwitterOG := $scratch.Get "TwitterOG" -}}
{{- $scratch.SetInMap "Params" "TwitterOG" $TwitterOG -}}

{{- $scratch.SetInMap "StructuredData" "Enable" (index site.Params "cards.structureddata.enable") -}}
{{- $scratch.SetInMap "StructuredData" "AuthorName" (index site.Params "cards.structureddata.authorname") -}}
{{- $scratch.SetInMap "StructuredData" "ProfileURL" (index site.Params "cards.structureddata.profileurl") -}}
{{- $StructuredData := $scratch.Get "StructuredData" -}}
{{- $scratch.SetInMap "Params" "StructuredData" $StructuredData -}}

{{- $scratch.SetInMap "Creation" "QueryMatch" (index site.Params "cards.cardify.card.creation.querymatch") -}}
{{- $scratch.SetInMap "Creation" "QueryParameter" (index site.Params "cards.cardify.card.creation.queryparameter") -}}
{{- $scratch.SetInMap "Creation" "QueryMatchOverridesFilter" (index site.Params "cards.cardify.card.creation.querymatchoverridesfilter") -}}
{{- $scratch.SetInMap "Creation" "HostMatch" (index site.Params "cards.cardify.card.creation.hostmatch") -}}
{{- $scratch.SetInMap "HostMatch" "ReadMoreLink" (index site.Params "cards.cardify.card.hostmatch.readmorelink") -}}
{{- $scratch.SetInMap "HostMatch" "ListSandbox" (index site.Params "cards.cardify.card.hostmatch.listsandbox") -}}
{{- $scratch.SetInMap "HostMatch" "PageSandbox" (index site.Params "cards.cardify.card.hostmatch.pagesandbox") -}}
{{- $scratch.SetInMap "HostMatch" "URLFilter" (index site.Params "cards.cardify.card.hostmatch.urlfilter") -}}
{{- $scratch.SetInMap "HostMatch" "CustomSelector" (index site.Params "cards.cardify.card.hostmatch.customselector") -}}
{{- $scratch.SetInMap "Style" "SpacerY" (index site.Params "cards.cardify.card.style.spacery") -}}
{{- $scratch.SetInMap "Style" "SpacerX" (index site.Params "cards.cardify.card.style.spacerx") -}}
{{- $scratch.SetInMap "Style" "TitleSpacerY" (index site.Params "cards.cardify.card.style.titlespacery") -}}
{{- $scratch.SetInMap "Style" "BG" (index site.Params "cards.cardify.card.style.bg") -}}
{{- $scratch.SetInMap "Style" "BorderWidth" (index site.Params "cards.cardify.card.style.borderwidth") -}}
{{- $scratch.SetInMap "Style" "BorderColor" (index site.Params "cards.cardify.card.style.bordercolor") -}}
{{- $scratch.SetInMap "Style" "BorderRadius" (index site.Params "cards.cardify.card.style.borderradius") -}}
{{- $scratch.SetInMap "Style" "TimeDateColor" (index site.Params "cards.cardify.card.style.timedatecolor") -}}
{{- $scratch.SetInMap "Build" "Fingerprint" (index site.Params "cards.cardify.build.fingerprint") -}}
{{- $scratch.SetInMap "Build" "SassOutput" (index site.Params "cards.cardify.build.sassoutput") -}}
{{- $scratch.SetInMap "Build" "MinifyScript" (index site.Params "cards.cardify.build.minifyscript") -}}
{{- $Creation := $scratch.Get "Creation" -}}
{{- $scratch.SetInMap "Card" "Creation" $Creation -}}
{{- $HostMatch := $scratch.Get "HostMatch" -}}
{{- $scratch.SetInMap "Card" "HostMatch" $HostMatch -}}
{{- $Style := $scratch.Get "Style" -}}
{{- $scratch.SetInMap "Card" "Style" $Style -}}
{{- $Card := $scratch.Get "Card" -}}
{{- $scratch.SetInMap "Cardify" "Card" $Card -}}
{{- $Build := $scratch.Get "Build" -}}
{{- $scratch.SetInMap "Cardify" "Build" $Build -}}
{{- $Cardify := $scratch.Get "Cardify" -}}
{{- $scratch.SetInMap "Params" "Cardify" $Cardify -}}

{{- /* 
  Insert the Params map into the page scratch 
  */ -}}
{{- $Params := $scratch.Get "Params" -}}
{{- .Scratch.SetInMap "plugin-cards" "Params" $Params -}}