{{- /* Load scratch with default values */ -}}
{{- .Scratch.Set "TwitterOG.Enable" true -}}
{{- .Scratch.Set "TwitterOG.TwitterUsername" "" -}}
{{- .Scratch.Set "TwitterOG.CardPreference" "summary_large_image" -}}
{{- .Scratch.Set "StructuredData.Enable" true -}}
{{- .Scratch.Set "StructuredData.AuthorName" site.Author.name -}}
{{- .Scratch.Set "StructuredData.ProfileURL" site.Author.profileurl -}}
{{- .Scratch.Set "Card.Creation.QueryMatch" true -}}
{{- .Scratch.Set "Card.Creation.QueryParameter" "cardify" -}}
{{- .Scratch.Set "Card.Creation.QueryMatchOverridesFilter" true -}}
{{- .Scratch.Set "Card.Creation.HostMatch" false -}}
{{- .Scratch.Set "Card.HostMatch.ReadMoreLink" ".read-more" -}}
{{- .Scratch.Set "Card.HostMatch.ListSandbox" ".post-body" -}}
{{- .Scratch.Set "Card.HostMatch.PageSandbox" "#post-body" -}}
{{- .Scratch.Set "Card.HostMatch.CustomSelector" "" -}}
{{- .Scratch.Set "Card.HostMatch.URLFilter" ".*.html" -}}
{{- .Scratch.Set "Card.Style.SpacerY" "1rem" -}}
{{- .Scratch.Set "Card.Style.SpacerX" "1rem" -}}
{{- .Scratch.Set "Card.Style.TitleSpacerY" "1rem * 0.5" -}}
{{- .Scratch.Set "Card.Style.BG" "white" -}}
{{- .Scratch.Set "Card.Style.BorderWidth" "1px" -}}
{{- .Scratch.Set "Card.Style.BorderColor" "rgba(0,0,0,0.125)" -}}
{{- .Scratch.Set "Card.Style.BorderRadius" "0.5rem" -}}
{{- .Scratch.Set "Card.Style.TimeDateColor" "#666666" -}}
{{- .Scratch.Set "Build.Fingerprint" true -}}
{{- .Scratch.Set "Build.SassOutput" "compressed" -}}
{{- .Scratch.Set "Build.MinifyScript" true -}}
{{- .Scratch.Set "Data" dict -}}

{{- /* Overwrite default values with any values found in a config file */ -}}
{{- with site.Data.plugin_cards_config | default site.Data.plugin_cards.config -}}
{{- if (isset .TwitterOG "Enable") -}}
{{- with .TwitterOG.Enable -}}
{{- $.Scratch.Set "TwitterOG.Enable" true -}}
{{- else -}}
{{- $.Scratch.Set "TwitterOG.Enable" false -}}
{{- end -}}
{{- end -}}
{{- with .TwitterOG.TwitterUsername -}}
{{- $.Scratch.Set "TwitterOG.TwitterUsername" . -}}
{{- end -}}
{{- with .TwitterOG.CardPreference -}}
{{- $.Scratch.Set "TwitterOG.CardPreference" . -}}
{{- end -}}
{{- if (isset .StructuredData "Enable") -}}
{{- with .StructuredData.Enable -}}
{{- $.Scratch.Set "StructuredData.Enable" true -}}
{{- else -}}
{{- $.Scratch.Set "StructuredData.Enable" false -}}
{{- end -}}
{{- end -}}
{{- with .StructuredData.AuthorName -}}
{{- $.Scratch.Set "StructuredData.AuthorName" . -}}
{{- end -}}
{{- with .StructuredData.ProfileURL -}}
{{- $.Scratch.Set "StructuredData.ProfileURL" . -}}
{{- end -}}
{{- if (isset .Card.Creation "QueryMatch") -}}
{{- with .Card.Creation.QueryMatch -}}
{{- $.Scratch.Set "Card.Creation.QueryMatch" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.QueryMatch" false -}}
{{- end -}}
{{- end -}}
{{- with .Card.Creation.QueryParameter -}}
{{- $.Scratch.Set "Card.Creation.QueryParameter" . -}}
{{- end -}}
{{- if (isset .Card.Creation "QueryMatchOverridesFilter") -}}
{{- with .Card.Creation.QueryMatchOverridesFilter -}}
{{- $.Scratch.Set "Card.Creation.QueryMatchOverridesFilter" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.QueryMatchOverridesFilter" false -}}
{{- end -}}
{{- end -}}
{{- if (isset .Card.Creation "HostMatch") -}}
{{- with .Card.Creation.HostMatch -}}
{{- $.Scratch.Set "Card.Creation.HostMatch" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.HostMatch" false -}}
{{- end -}}
{{- end -}}
{{- with .Card.HostMatch.ReadMoreLink -}}
{{- $.Scratch.Set "Card.HostMatch.ReadMoreLink" . -}}
{{- end -}}
{{- with .Card.HostMatch.ListSandbox -}}
{{- $.Scratch.Set "Card.HostMatch.ListSandbox" . -}}
{{- end -}}
{{- with .Card.HostMatch.PageSandbox -}}
{{- $.Scratch.Set "Card.HostMatch.PageSandbox" . -}}
{{- end -}}
{{- with .Card.HostMatch.CustomSelector -}}
{{- $.Scratch.Set "Card.HostMatch.CustomSelector" . -}}
{{- end -}}
{{- with .Card.HostMatch.URLFilter -}}
{{- $.Scratch.Set "Card.HostMatch.URLFilter" . -}}
{{- end -}}
{{- with .Card.Style.SpacerY -}}
{{- $.Scratch.Set "Card.Style.SpacerY" . -}}
{{- end -}}
{{- with .Card.Style.SpacerX -}}
{{- $.Scratch.Set "Card.Style.SpacerX" . -}}
{{- end -}}
{{- with .Card.Style.TitleSpacerY -}}
{{- $.Scratch.Set "Card.Style.TitleSpacerY" . -}}
{{- end -}}
{{- with .Card.Style.BG -}}
{{- $.Scratch.Set "Card.Style.BG" . -}}
{{- end -}}
{{- with .Card.Style.BorderWidth -}}
{{- $.Scratch.Set "Card.Style.BorderWidth" . -}}
{{- end -}}
{{- with .Card.Style.BorderColor -}}
{{- $.Scratch.Set "Card.Style.BorderColor" . -}}
{{- end -}}
{{- with .Card.Style.BorderRadius -}}
{{- $.Scratch.Set "Card.Style.BorderRadius" . -}}
{{- end -}}
{{- with .Card.Style.TimeDateColor -}}
{{- $.Scratch.Set "Card.Style.TimeDateColor" . -}}
{{- end -}}
{{- if (isset .Build "Fingerprint") -}}
{{- with .Build.Fingerprint -}}
{{- $.Scratch.Set "Build.Fingerprint" true -}}
{{- else -}}
{{- $.Scratch.Set "Build.Fingerprint" false -}}
{{- end -}}
{{- end -}}
{{- with .Build.SassOutput -}}
{{- $.Scratch.Set "Build.SassOutput" . -}}
{{- end -}}
{{- if (isset .Build "MinifyScript") -}}
{{- with .Build.MinifyScript -}}
{{- $.Scratch.Set "Build.MinifyScript" true -}}
{{- else -}}
{{- $.Scratch.Set "Build.MinifyScript" false -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- with site.Data.plugin_cards_data | default site.Data.plugin_cards.data -}}
{{- $.Scratch.Set "Data" . -}}
{{- end -}}

{{- /* Overwrite those values with any values set via the plugin parameter interface */ -}}
{{- if (isset site.Params "cards.twitterog.enable") -}}
{{- with index site.Params "cards.twitterog.enable" -}}
{{- $.Scratch.Set "TwitterOG.Enable" true -}}
{{- else -}}
{{- $.Scratch.Set "TwitterOG.Enable" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.twitterog.twitterusername" -}}
{{- $.Scratch.Set "TwitterOG.TwitterUsername" . -}}
{{- else -}}
{{- with index site.Params.twitter_username -}}
{{- $.Scratch.Set "TwitterOG.TwitterUsername" . -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.twitterog.cardpreference" -}}
{{- $.Scratch.Set "TwitterOG.CardPreference" . -}}
{{- end -}}
{{- if (isset site.Params "cards.structureddata.enable") -}}
{{- with index site.Params "cards.structureddata.enable" -}}
{{- $.Scratch.Set "StructuredData.Enable" true -}}
{{- else -}}
{{- $.Scratch.Set "StructuredData.Enable" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.structureddata.authorname" -}}
{{- $.Scratch.Set "StructuredData.AuthorName" . -}}
{{- end -}}
{{- with index site.Params "cards.structureddata.profileurl" -}}
{{- $.Scratch.Set "StructuredData.ProfileURL" . -}}
{{- end -}}
{{- if (isset site.Params "cards.card.creation.querymatch") -}}
{{- with index site.Params "cards.card.creation.querymatch" -}}
{{- $.Scratch.Set "Card.Creation.QueryMatch" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.QueryMatch" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.card.creation.queryparameter" -}}
{{- $.Scratch.Set "Card.Creation.QueryParameter" . -}}
{{- end -}}
{{- if (isset site.Params "cards.card.creation.querymatchoverridesfilter") -}}
{{- with index site.Params "cards.card.creation.querymatchoverridesfilter" -}}
{{- $.Scratch.Set "Card.Creation.QueryMatchOverridesFilter" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.QueryMatchOverridesFilter" false -}}
{{- end -}}
{{- end -}}
{{- if (isset site.Params "cards.card.creation.hostmatch") -}}
{{- with index site.Params "cards.card.creation.hostmatch" -}}
{{- $.Scratch.Set "Card.Creation.HostMatch" true -}}
{{- else -}}
{{- $.Scratch.Set "Card.Creation.HostMatch" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.card.hostmatch.readmorelink" -}}
{{- $.Scratch.Set "Card.HostMatch.ReadMoreLink" . -}}
{{- end -}}
{{- with index site.Params "cards.card.hostmatch.listsandbox" -}}
{{- $.Scratch.Set "Card.HostMatch.ListSandbox" . -}}
{{- end -}}
{{- with index site.Params "cards.card.hostmatch.pagesandbox" -}}
{{- $.Scratch.Set "Card.HostMatch.PageSandbox" . -}}
{{- end -}}
{{- with index site.Params "cards.card.hostmatch.customselector" -}}
{{- $.Scratch.Set "Card.HostMatch.CustomSelector" . -}}
{{- end -}}
{{- with index site.Params "cards.card.hostmatch.urlfilter" -}}
{{- $.Scratch.Set "Card.HostMatch.URLFilter" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.spacery" -}}
{{- $.Scratch.Set "Card.Style.SpacerY" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.spacerx" -}}
{{- $.Scratch.Set "Card.Style.SpacerX" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.titlespacery" -}}
{{- $.Scratch.Set "Card.Style.TitleSpacerY" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.bg" -}}
{{- $.Scratch.Set "Card.Style.BG" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.borderwidth" -}}
{{- $.Scratch.Set "Card.Style.BorderWidth" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.bordercolor" -}}
{{- $.Scratch.Set "Card.Style.BorderColor" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.borderradius" -}}
{{- $.Scratch.Set "Card.Style.BorderRadius" . -}}
{{- end -}}
{{- with index site.Params "cards.card.style.timedatecolor" -}}
{{- $.Scratch.Set "Card.Style.TimeDateColor" . -}}
{{- end -}}
{{- if (isset site.Params "cards.build.fingerprint") -}}
{{- with index site.Params "cards.build.fingerprint" -}}
{{- $.Scratch.Set "Build.Fingerprint" true -}}
{{- else -}}
{{- $.Scratch.Set "Build.Fingerprint" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.build.sassoutput" -}}
{{- $.Scratch.Set "Build.SassOutput" . -}}
{{- end -}}
{{- if (isset site.Params "cards.build.minifyscript") -}}
{{- with index site.Params "cards.build.minifyscript" -}}
{{- $.Scratch.Set "Build.MinifyScript" true -}}
{{- else -}}
{{- $.Scratch.Set "Build.MinifyScript" false -}}
{{- end -}}
{{- end -}}
{{- with index site.Params "cards.data" | default site.Params.cards_data -}}
{{- $.Scratch.Set "Data" transform.Unmarshal . -}}
{{- end -}}