{{/* 

  Load page resources used by Twitter / OG meta tags 

*/}}


{{- /* Parse content for registered attribute values */ -}}
{{- partial "plugin_cards/load-specifications.html" . -}}

{{- /* Retrieve the registration map from the page scratch.  */ -}}
{{- $registered := .Scratch.Get "Registered" -}}

{{- .Scratch.SetInMap "Attributes" "url" .Permalink -}}
{{- .Scratch.SetInMap "Attributes" "site_name" site.Title -}}

{{- $domain := (urls.Parse site.BaseURL).Host -}}
{{- .Scratch.SetInMap "Attributes" "domain" $domain -}}

{{/* Determine content for description and truncate */}}

{{- $description := "" -}}

{{- with $registered.description | default .Summary | default .Description | default site.Params.description -}}

{{- $description = . | markdownify | plainify | truncate 200 | chomp -}}  

{{- end -}}

{{- .Scratch.SetInMap "Attributes" "description" $description -}}

{{/* Determine content for title */}}

{{- with $registered.title -}}

{{- $.Scratch.SetInMap "Attributes" "title" . -}}

{{- else -}}

  {{- with .Title -}}
  
  {{- $.Scratch.SetInMap "Attributes" "title" (. | markdownify | plainify | truncate 70 | chomp) -}}
  
  {{- else -}}
  
  {{- $.Scratch.SetInMap "Attributes" "title" ($description | truncate 70) -}}
  
  {{- end -}} {{/* with .Title */}}

{{- end -}} {{/* with $registered.title */}}

{{/* Resolve the image */}}

{{- with $registered.image -}}

{{- $.Scratch.SetInMap "Attributes" "image" . -}}

{{- else -}}

  {{- with ($registered.images | default .Params.images) -}}
  
  {{- $image := index . 0 | absURL -}}
  {{- $.Scratch.SetInMap "Attributes" "image" $image -}}
  
  {{- else -}}
  
    {{- with .Scratch.Get "Data" -}}
  
      {{/* Capture the path for the page */}}
      {{- $page_path := (urls.Parse $.Permalink).Path -}}
      
      {{/* Trim off any query parameters present */}}
      {{- $page_path = replaceRE "^([^?]+)(?:[?].+)?" "$1" $page_path -}}
      
      
      {{/* Check whether the data has an entry for this page */}}
      {{- with (index . $page_path) -}}
      
        {{- $.Scratch.SetInMap "Attributes" "image" . -}}
      
      {{- else -}}
      
        {{- with index . "default" -}}
      
          {{- $.Scratch.SetInMap "Attributes" "image" . -}}
      
        {{- end -}} {{/* with index . "default" */}}
      
      {{- end -}} {{/* with (index . $page_path) */}}
      
    {{- end -}} {{/* with .Scratch.Get "Data" */}}
      
  {{- end -}} {{/* ($registered.images | default .Params.images) */}}
  
{{- end -}} {{/* with $registered.image */}}

{{- with .Section -}}
{{- $.Scratch.SetInMap "Attributes" "section" . -}}
{{- end -}}

{{- with .Params.categories -}}
{{- $.Scratch.SetInMap "Attributes" "tag" . -}}
{{- end -}}

{{/* Grab times */}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

{{- if (and .IsPage (not .PublishDate.IsZero)) -}}

{{- $time := .PublishDate.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "published_time" $time -}}

{{- else if (and .IsPage (not .Date.IsZero)) -}}

{{- $time := .Date.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "published_time" $time -}}

{{- end -}}

{{- if (and .IsPage (not .Lastmod.IsZero)) -}}

{{- $time := .Lastmod.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "modified_time" $time -}}

{{- end -}}

{{- if (and (not .IsPage) (not .Date.IsZero)) -}}

{{- $time := .Date.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "updated_time" $time -}}

{{- end -}}

{{/* 

  Determine the type  
  
*/}}

{{/* Check for audio */}}
{{- with ($registered.audio | default .Params.audio) -}}

{{- $audio := (cond (reflect.IsSlice .) (index . 0) .) | absURL -}}
{{- $.Scratch.SetInMap "Attributes" "audio" $audio -}}
{{- $.Scratch.SetInMap "Attributes" "type" ($registered.type | default "music.song") -}}

{{- $.Scratch.SetInMap "Attributes" "card" "player" -}}
{{- $.Scratch.SetInMap "Attributes" "player" $audio -}}
{{- $.Scratch.SetInMap "Attributes" "player:width" "338" -}}
{{- $.Scratch.SetInMap "Attributes" "player:height" "338" -}}
  

{{/* Check for video */}}
{{- else -}}

  {{- with $registered.video -}}

  {{- $video := (cond (reflect.IsSlice .) (index . 0) .) | absURL -}}
  
  {{- $.Scratch.SetInMap "Attributes" "card" "player" -}}
  {{- $.Scratch.SetInMap "Attributes" "player" $video -}}
  {{- $.Scratch.SetInMap "Attributes" "player:width" "600" -}}
  {{- $.Scratch.SetInMap "Attributes" "player:height" "338" -}}

  {{- $.Scratch.SetInMap "Attributes" "video" $video -}}
  {{- $.Scratch.SetInMap "Attributes" "video:width" "600" -}}
  {{- $.Scratch.SetInMap "Attributes" "video:height" "338" -}}
  {{- $.Scratch.SetInMap "Attributes" "type" ($registered.type | default "video.other") -}}
  
  {{/* Handle non-media oriented types */}}
  {{- else -}}
  
    {{/* Determine Twitter card summary size */}}
    {{- if (and (isset (.Scratch.Get "Attributes") "image") (not (eq "summary" (.Scratch.Get "TwitterOG.CardPreference")))) -}}
      {{- $.Scratch.SetInMap "Attributes" "card" ($registered.card | default "summary_large_image") -}}
    {{- else -}}
      {{- $.Scratch.SetInMap "Attributes" "card" ($registered.card | default "summary") -}}
    {{- end -}}
  
    {{/* Check for post */}}
    {{- if .IsPage -}}
    
    {{- $.Scratch.SetInMap "Attributes" "type" ($registered.type | default "article") -}}
    {{- $.Scratch.SetInMap "Attributes" "reading_time" .ReadingTime -}}
    
    {{- else -}}
    
    {{- $.Scratch.SetInMap "Attributes" "type" ($registered.type | default "website") -}}
    
    {{- end -}} {{/* if .IsPage */}}
    
  {{- end -}} {{/* with $registered_video */}}
  
{{- end -}} {{/* with ($registered_audio | default .Params.audio) */}}

{{/* Twitter username attributes */}}
{{- with .Scratch.Get "TwitterOG.TwitterUsername" -}}

{{- $handle := printf "@%s" . -}}
{{- $.Scratch.SetInMap "Attributes" "site" $handle -}}
{{- $.Scratch.SetInMap "Attributes" "creator" $handle -}}

{{- end -}}
