{{/* Load page resources used by Twitter / OG meta tags */}}

{{- .Scratch.SetInMap "Attributes" "url" .Permalink -}}
{{- .Scratch.SetInMap "Attributes" "site_name" site.Title -}}

{{- $domain := (urls.Parse site.BaseURL).Host -}}
{{- .Scratch.SetInMap "Attributes" "domain" $domain -}}

{{/* Resolve registered resources */}}

{{- $content := .Content | markdownify -}}

{{- $title_re := `<h1[^>]+data-card-title="([^"]+)"` -}}
{{- $registered_title := false -}}
{{- with findRE $title_re $content -}}
{{- $registered_title = replaceRE $title_re "$1" (index . 0) -}}
{{- end -}}

{{- $image_re := `<img[^>]+src="([^"]+)\?[^"]*card-image[^"]*"` -}}
{{- $registered_images := slice -}}
{{- range findRE $image_re $content -}}
{{- $registered_images = $registered_images | append (replaceRE $image_re "$1" .) -}}
{{- end -}}

{{- $audio_re := `<audio[^>]+src="([^"]+)\?[^"]*card-audio[^"]*"` -}}
{{- $registered_audio := slice -}}
{{- range findRE $audio_re $content -}}
{{- $registered_audio = $registered_audio | append (replaceRE $audio_re "$1" .) -}}
{{- end -}}

{{- $video_re := `<video[^>]+src="([^"]+)\?[^"]*card-video[^"]*"` -}}
{{- $registered_video := slice -}}
{{- range findRE $video_re $content -}}
{{- $registered_video = $registered_video | append (replaceRE $video_re "$1" .) -}}
{{- end -}}

{{/* Determine content for description and truncate */}}

{{- $description := "" -}}

{{- with .Summary | default .Description | default site.Params.description -}}

{{- $description = . | markdownify | plainify | truncate 200 | chomp -}}  

{{- end -}}

{{- .Scratch.SetInMap "Attributes" "description" $description -}}

{{/* Determine content for title and truncate */}}

{{- $title := "" -}}

{{- with $registered_title | default .Title -}}

{{- $title = . | markdownify | plainify | truncate 70 | chomp -}}

{{- else -}}

{{- $title = $description | truncate 70 -}}

{{- end -}}

{{- .Scratch.SetInMap "Attributes" "title" $title -}}


{{/* Resolve the image */}}

{{- with ($registered_images | default .Params.images) -}}

{{- $image := index . 0 | absURL -}}
{{- $.Scratch.SetInMap "Attributes" "image" $image -}}

{{- else -}}

  {{- with .Scratch.Get "Data" -}}

    {{/* Capture the path for the page */}}
    {{- $page_path := (urls.Parse $.Permalink).Path -}}
    
    {{/* Trim off any query parameters present */}}
    {{- $page_path = replaceRE "^([^?]+)(?:[?].+)?" "$1" $page_path -}}
    
    
    {{/* Check whether the data has an entry for this page */}}
    {{- with (index . $page_path) -}}
    
      {{- $.Scratch.SetInMap "Attributes" "image" . -}}
    
    {{- else -}}
    
      {{- with index . "default" -}}
    
        {{- $.Scratch.SetInMap "Attributes" "image" . -}}
    
      {{- end -}} {{/* with index . "default" */}}
    
    {{- end -}} {{/* with (index . $page_path) */}}
    
  {{- end -}} {{/* with .Scratch.Get "Data" */}}
    
{{- end -}} {{/* with .Params.images */}}

{{- with .Section -}}
{{- $.Scratch.SetInMap "Attributes" "section" . -}}
{{- end -}}

{{- with .Params.categories -}}
{{- $.Scratch.SetInMap "Attributes" "tag" . -}}
{{- end -}}

{{/* Grab times */}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}

{{- if (and .IsPage (not .PublishDate.IsZero)) -}}

{{- $time := .PublishDate.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "published_time" $time -}}

{{- else if (and .IsPage (not .Date.IsZero)) -}}

{{- $time := .Date.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "published_time" $time -}}

{{- end -}}

{{- if (and .IsPage (not .Lastmod.IsZero)) -}}

{{- $time := .Lastmod.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "modified_time" $time -}}

{{- end -}}

{{- if (and (not .IsPage) (not .Date.IsZero)) -}}

{{- $time := .Date.Format $iso8601 -}}
{{- $.Scratch.SetInMap "Attributes" "updated_time" $time -}}

{{- end -}}

{{/* 

  Determine the type  
  
*/}}

{{/* Check for audio */}}
{{- with ($registered_audio | default .Params.audio) -}}

{{- $audio := index . 0 | absURL -}}
{{- $.Scratch.SetInMap "Attributes" "audio" $audio -}}
{{- $.Scratch.SetInMap "Attributes" "type" "music.song" -}}

{{- $.Scratch.SetInMap "Attributes" "card" "summary" -}}

{{/* Check for video */}}
{{- else -}}

  {{- with $registered_video -}}

  {{- $video := index . 0 | absURL -}}
  {{- $.Scratch.SetInMap "Attributes" "card" "player" -}}
  {{- $.Scratch.SetInMap "Attributes" "video" $video -}}
  {{- $.Scratch.SetInMap "Attributes" "video:width" "600" -}}
  {{- $.Scratch.SetInMap "Attributes" "video:height" "338" -}}
  {{- $.Scratch.SetInMap "Attributes" "type" "video.other" -}}
  
  {{/* Handle non-media oriented types */}}
  {{- else -}}
  
    {{/* Determine Twitter card summary size */}}
    {{- if (isset (.Scratch.Get "Attributes") "image") -}}
      {{- $.Scratch.SetInMap "Attributes" "card" "summary_large_image" -}}
    {{- else -}}
      {{- $.Scratch.SetInMap "Attributes" "card" "summary" -}}
    {{- end -}}
  
    {{/* Check for post */}}
    {{- if .IsPage -}}
    
    {{- $.Scratch.SetInMap "Attributes" "type" "article" -}}
    {{- $.Scratch.SetInMap "Attributes" "reading_time" .ReadingTime -}}
    
    {{- else -}}
    
    {{- $.Scratch.SetInMap "Attributes" "type" "website" -}}
    
    {{- end -}} {{/* if .IsPage */}}
    
  {{- end -}} {{/* with $registered_video */}}
  
{{- end -}} {{/* with ($registered_audio | default .Params.audio) */}}

{{/* Twitter username attributes */}}
{{- with .Scratch.Get "TwitterOG.TwitterUsername" -}}

{{- $handle := printf "@%s" . -}}
{{- $.Scratch.SetInMap "Attributes" "site" $handle -}}
{{- $.Scratch.SetInMap "Attributes" "creator" $handle -}}

{{- end -}}