{{- /* Load HTML element class names and IDs into the page scratch */ -}}

{{- .Scratch.SetInMap "Specifiers" "Card" "cardify-card" -}}
{{- .Scratch.SetInMap "Specifiers" "Image" "cardify-card-img" -}}
{{- .Scratch.SetInMap "Specifiers" "Body" "cardify-card-body" -}}
{{- .Scratch.SetInMap "Specifiers" "Title" "cardify-card-title" -}}
{{- .Scratch.SetInMap "Specifiers" "Text" "cardify-card-text" -}}
{{- .Scratch.SetInMap "Specifiers" "Link" "cardify-card-link" -}}
{{- .Scratch.SetInMap "Specifiers" "PublishDate" "cardify-card-publish-date" -}}
{{- .Scratch.SetInMap "Specifiers" "ReadingTime" "cardify-card-reading-time" -}}