{{- /*
  Resolve the presence of a config file
  */ -}}

{{- $ConfigFile := site.Data.plugin_cards_config -}}
{{- $ConfigFile  = $ConfigFile | default site.Data.plugin_cards.config -}}

{{- /*
  Load it into scratch piecemeal so module entries are assured.
  */ -}}

{{- $scratch := newScratch -}}

{{- with ($ConfigFile | default dict) -}}

{{- $scratch.Set "TwitterOG" (.TwitterOG | default dict) -}}
{{- with site.Data.plugin_cards_data | default site.Data.plugin_cards.data -}}
{{- $scratch.SetInMap "TwitterOG" "Data" . -}}
{{- end -}}

{{- $TwitterOG := $scratch.Get "TwitterOG" -}}
{{- $scratch.SetInMap "ConfigFile" "TwitterOG" $TwitterOG -}}
{{- $scratch.SetInMap "ConfigFile" "StructuredData" (.StructuredData | default dict) -}}
{{- $scratch.SetInMap "ConfigFile" "Cardify" (.Cardify | default dict) -}}

{{- end -}}

{{- /* 
  Insert the ConfigFile map into the page scratch under TwitterOG 
  */ -}}
{{- $ConfigFile = $scratch.Get "ConfigFile" -}}
{{- .Scratch.SetInMap "plugin-cards" "ConfigFile" $ConfigFile -}}