{{- if (and (.Scratch.Get "StructuredData.Enable") (eq .Type "post")) -}}

{{- /* Set the context and type */ -}}
{{- .Scratch.SetInMap "data" "@context" "https://schema.org" -}}
{{- .Scratch.SetInMap "data" "@type" "BlogPosting" -}}

{{- /* Add the author */ -}}
{{- with .Scratch.Get "StructuredData.AuthorName" -}}
{{- $.Scratch.SetInMap "author" "@type" "Person" -}}
{{- $.Scratch.SetInMap "author" "name" . -}}
{{- with .Scratch.Get "StructuredData.ProfileURL" -}}
{{- $.Scratch.SetInMap "author" "url" . -}}
{{- end -}}
{{- end -}}
{{- with .Scratch.Get "author" -}}
{{- $.Scratch.SetInMap "data" "author" . -}}
{{- end -}}

{{- /* Add the published and modified times */ -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $date_published := cond .PublishDate.IsZero .Date .PublishDate -}}
{{- if not $date_published.IsZero -}}
{{- $date_published = $date_published.Format $iso8601 -}}
{{- else -}}
{{- $date_published = nil -}}
{{- end -}}
{{- with $date_published -}}
{{- $.Scratch.SetInMap "data" "datePublished" . -}}
{{- end -}}
{{- $date_modified := .Lastmod -}}
{{- if not $date_modified.IsZero -}}
{{- $date_modified = $date_modified.Format $iso8601 -}}
{{- else -}}
{{- $date_modified = nil -}}
{{- end -}}
{{- with $date_modified -}}
{{- $.Scratch.SetInMap "data" "dateModified" . -}}
{{- end -}}

{{- /* Add the title */ -}}
{{- with .Title -}}
{{- $.Scratch.SetInMap "data" "headline" . -}}
{{- end -}}

{{- /* Add any images */ -}}
{{- with .Params.images -}}
{{- $.Scratch.SetInMap "data" "image" (apply . "absURL" ".") -}}
{{- end -}}

{{- /* Add description */ -}}
{{- with .Summary -}}
{{- $.Scratch.SetInMap "data" "description" (. | plainify | chomp) -}}
{{- end -}}

{{- /* Add the word count */ -}}
{{- with .WordCount -}}
{{- $.Scratch.SetInMap "data" "wordcount" . -}}
{{- end -}}

<script type="application/ld+json">{{ .Scratch.Get "data" | jsonify | safeHTML }}</script>

{{- end -}}