{{/*

 List of possible meta tags:

  og:url
  og:site_name
  og:title
  og:description
  og:image
  og:type
  og:audio
  og:updated_time
 
  article:published_time
  article:modified_time
  article:section
  article:tag
  article:reading_time (custom)
 
  twitter:card
  twitter:url
  twitter:creator
  twitter:domain
  twitter:title
  twitter:description
  twitter:image 
  twitter:player
  twitter:player:width
  twitter:player:height
 
*/}}
  
{{- if .Scratch.Get "TwitterOG.Enable" -}}

{{- partial "plugin_cards/load-attributes.html" . -}}

{{/* Create meta tags using the loaded attributes. */}}

{{- with .Scratch.Get "Attributes" -}}

{{ with .url -}}
<meta property="og:url" content="{{ . }}" />
<meta property="twitter:url" content="{{ . }}">
{{ end -}}

{{ with .title -}}
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}" />
{{- end }}

{{ with .description -}}
<meta property="og:description" content="{{ . }}" />
<meta name="twitter:description" content="{{ . }}" />
{{- end }}

{{ with .site_name -}}
<meta property="og:site_name" content="{{ . }}" />
{{- end }}

{{ with .site -}}
<meta name="twitter:site" content="{{ . }}" />
{{- end }}

{{ with .creator -}}
<meta name="twitter:creator" content="{{ . }}" />
{{- end }}

{{ with .domain -}}
<meta property="twitter:domain" content="{{ . }}">
{{- end }}

{{ with .published_time -}}
<meta property="article:published_time" content="{{ . }}" />
{{- end }}

{{ with .modified_time -}}
<meta property="article:modified_time" content="{{ . }}" />
{{- end }}

{{ with .updated_time -}}
<meta property="og:updated_time" content="{{ . }}" />
{{- end }}

{{ with .section -}}
<meta property="article:section" content="{{ . }}" />
{{- end }}

{{ with .categories -}}
{{- range first 6 . -}}
<meta property="article:tag" content="{{ . }}" />
{{- end -}}
{{- end }}

{{ with .audio -}}
<meta property="og:audio" content="{{ . }}" />
{{- end }}

{{ with .type -}}
<meta property="og:type" content="{{ . }}" />
{{- end }}

{{ with .card -}}
<meta name="twitter:card" content="{{ . }}"/>
{{- end }}

{{ with .video -}}
<meta name="twitter:player" content="{{ . }}" />
<meta property="og:video" content="{{ . }}" />
{{- end }}

{{ with index . "video:width" -}}
<meta name="twitter:player:width" content="{{ . }}" />
<meta name="og:video:width" content="{{ . }}" />
{{- end }}

{{ with index . "video:height" -}}
<meta name="twitter:player:height" content="{{ . }}" />
<meta name="og:video:height" content="{{ . }}" />
{{- end }}

{{ with .image -}}
<meta property="og:image" content="{{ . }}" />
<meta name="twitter:image" content="{{ . }}" />
{{- end }}

{{ with .reading_time -}}
<meta property="article:reading_time" content="{{ . }}" />
{{- end }}

{{- end -}}

{{- end -}}