{{- $params := site.Params -}}
{{- $config := site.Data.plugin_cards_config | default site.Data.plugin_cards.config -}}
{{- $QueryMatchCards := $params.cards_QueryMatchCards | default $config.QueryMatchCards | default true -}}
{{- $HostMatchCards := $params.cards_HostMatchCards | default $config.HostMatchCards | default false -}}

{{- if (or $QueryMatchCards $HostMatchCards) -}}
{{- $script_template := resources.Get "js/cardify.js" -}}
{{- $script := $script_template | resources.ExecuteAsTemplate "cardify.js" . | resources.Fingerprint -}}

<script type="text/javascript" src="{{ $script.Permalink }}"></script>

{{- $style_template := resources.Get "sass/cardify.scss" -}}
{{- $style := $style_template | resources.ExecuteAsTemplate "cardify.scss" . | toCSS | fingerprint -}}

<link rel="stylesheet" href="{{ $style.Permalink }}">


{{- end -}}