{{- $params := site.Params -}}
{{- $data := site.Data.plugin_cards_data -}}

{{- $enable_structured_data := $params.cards_enable_structured_data | default $data.EnableStructuredData | default true -}}

{{- if (and $enable_structured_data (eq .Type "post")) -}}

{{- /* Create a Scratch instance to gather data */ -}}
{{- $data := newScratch -}}

{{- /* Set the context and type */ -}}
{{- $data.SetInMap "data" "@context" "https://schema.org" -}}
{{- $data.SetInMap "data" "@type" "BlogPosting" -}}

{{- /* Add the author */ -}}
{{- $author_name := (site.Author.name | default site.Params.Author.name) | default site.Params.cards_structured_data_author_name -}}
{{- with $author_name -}}
{{- $data.SetInMap "author" "@type" "Person" -}}
{{- $data.SetInMap "author" "name" . -}}
{{- with site.Author.profileurl | default site.Params.cards_structured_data_author_profile_url -}}
{{- $data.SetInMap "author" "url" . -}}
{{- end -}}
{{- end -}}
{{- with $data.Get "author" -}}
{{- $data.SetInMap "data" "author" . -}}
{{- end -}}

{{- /* Add the published and modified times */ -}}
{{- $iso8601 := site.Params.Theme.Date.ISO8601 -}}
{{- $date_published := cond .PublishDate.IsZero .Date .PublishDate -}}
{{- if not $date_published.IsZero -}}
{{- $date_published = $date_published.Format $iso8601 -}}
{{- else -}}
{{- $date_published = nil -}}
{{- end -}}
{{- with $date_published -}}
{{- $data.SetInMap "data" "datePublished" . -}}
{{- end -}}
{{- $date_modified := .Lastmod -}}
{{- if not $date_modified.IsZero -}}
{{- $date_modified = $date_modified.Format $iso8601 -}}
{{- else -}}
{{- $date_modified = nil -}}
{{- end -}}
{{- with $date_modified -}}
{{- $data.SetInMap "data" "dateModified" . -}}
{{- end -}}

{{- /* Add the title */ -}}
{{- with .Title -}}
{{- $data.SetInMap "data" "headline" . -}}
{{- end -}}

{{- /* Add any images */ -}}
{{- with .Params.images -}}
{{- $data.SetInMap "data" "image" (apply . "absURL" ".") -}}
{{- end -}}

{{- /* Add description */ -}}
{{- with .Summary -}}
{{- $data.SetInMap "data" "description" (. | plainify | chomp) -}}
{{- end -}}

{{- /* Add the word count */ -}}
{{- with .WordCount -}}
{{- $data.SetInMap "data" "wordcount" . -}}
{{- end -}}

{{- $data = $data.Get "data" -}}

<script type="application/ld+json">{{ $data | jsonify | safeHTML }}</script>

{{- end -}}