{{- $params := site.Params -}}

{{- $config := site.Data.plugin_cards_config -}}
{{- $config  = $config | default site.Data.plugin_cards.config -}}

{{- $Enable := index $params "cards.structureddata.enable" -}}
{{- $Enable  = $Enable | default $config.StructuredData.Enable -}}
{{- $Enable  = $Enable | default true -}}

{{- if (and $Enable (eq .Type "post")) -}}

{{- $AuthorName := index $params "cards.structureddata.authorname" -}}
{{- $AuthorName  = $AuthorName | default $config.StructuredData.AuthorName -}}
{{- $AuthorName = $AuthorName | default site.Author.name -}}
{{- $AuthorName = $AuthorName | default $params.Author.name -}}

{{- $ProfileURL := index $params "cards.structureddata.profileurl" -}}
{{- $ProfileURL  = $ProfileURL | default $config.StructuredData.ProfileURL -}}
{{- $ProfileURL = $ProfileURL | default site.Author.profileurl -}}

{{- /* Create a Scratch instance to gather data */ -}}
{{- $data := newScratch -}}

{{- /* Set the context and type */ -}}
{{- $data.SetInMap "data" "@context" "https://schema.org" -}}
{{- $data.SetInMap "data" "@type" "BlogPosting" -}}

{{- /* Add the author */ -}}
{{- with $AuthorName -}}
{{- $data.SetInMap "author" "@type" "Person" -}}
{{- $data.SetInMap "author" "name" . -}}
{{- with $ProfileURL -}}
{{- $data.SetInMap "author" "url" . -}}
{{- end -}}
{{- end -}}
{{- with $data.Get "author" -}}
{{- $data.SetInMap "data" "author" . -}}
{{- end -}}

{{- /* Add the published and modified times */ -}}
{{- $iso8601 := "2006-01-02T15:04:05-07:00" -}}
{{- $date_published := cond .PublishDate.IsZero .Date .PublishDate -}}
{{- if not $date_published.IsZero -}}
{{- $date_published = $date_published.Format $iso8601 -}}
{{- else -}}
{{- $date_published = nil -}}
{{- end -}}
{{- with $date_published -}}
{{- $data.SetInMap "data" "datePublished" . -}}
{{- end -}}
{{- $date_modified := .Lastmod -}}
{{- if not $date_modified.IsZero -}}
{{- $date_modified = $date_modified.Format $iso8601 -}}
{{- else -}}
{{- $date_modified = nil -}}
{{- end -}}
{{- with $date_modified -}}
{{- $data.SetInMap "data" "dateModified" . -}}
{{- end -}}

{{- /* Add the title */ -}}
{{- with .Title -}}
{{- $data.SetInMap "data" "headline" . -}}
{{- end -}}

{{- /* Add any images */ -}}
{{- with .Params.images -}}
{{- $data.SetInMap "data" "image" (apply . "absURL" ".") -}}
{{- end -}}

{{- /* Add description */ -}}
{{- with .Summary -}}
{{- $data.SetInMap "data" "description" (. | plainify | chomp) -}}
{{- end -}}

{{- /* Add the word count */ -}}
{{- with .WordCount -}}
{{- $data.SetInMap "data" "wordcount" . -}}
{{- end -}}

{{- $data = $data.Get "data" -}}

<script type="application/ld+json">{{ $data | jsonify | safeHTML }}</script>

{{- end -}}