{{/*
 
  Generates a preview card by fetching and scraping a page.
  
  Parameters:
    url: The page's URL.
    layout: (optional) horizontal or vertical. The default is vertical.
  
  */}}
  
{{/* Ensure the plugin parameters have loaded. */}}
{{- if not (.Page.Scratch.Get "plugin-cards.Parameters") -}}
{{- partial "plugin-cards/load-parameters.html" .Page -}}
{{- end -}}
 
{{/* Declare the variables with their default values. */}}
{{- $url := "" -}}
{{- $layout := "vertical" -}}

{{/* Check for named parameters. */}}
{{- if .IsNamedParams -}}

{{- $url = .Get "url" -}}

{{- if (eq (.Get "layout") "horizontal") -}}
{{- $layout = "horizontal" -}}
{{- end -}}

{{/* Otherwise process positional parameters. */}}
{{- else -}}

{{- $url = .Get 0 -}}

{{- if (and (len .Params | eq 2) (.Get 1 | eq "horizontal")) -}}
{{- $layout = "horizontal" -}}
{{- end -}}

{{- end -}}

{{/* Extract URL value if autolinked. */}}
{{- $url = replaceRE `^[[][^]]*[]][(]([^)]+)[)]` "$1" $url -}}

{{/* Fetch the page. */}}
{{- with resources.GetRemote $url -}}

  {{/* Check for fetch error. */}}
  {{- with .Err -}}
    {{- warnf "%s" . -}}
  
    {{/* Fallback to an anchor tag */}}
<a href="{{ $url | safeHTMLAttr }}">{{ $url | safeHTML }}</a>
    
  {{/* Otherwise, proceed with preview card generation. */}}
  {{- else -}}
  
    {{/* Scrape the page for meta tag attributes. */}}
    {{- $tags := partial "plugin-cards/cardify/scrape-page.html" . -}}

    {{- with $tags.description -}}  
    {{- $tags = merge $tags (dict "summary" .) -}}
    {{- end -}}
    
    {{- with $tags.reading_time -}}  
    {{- $reading_time := printf "%v minute" . -}}
    {{- if (gt (int .) 1) -}}
    {{- $reading_time = printf "%ss" $reading_time -}}
    {{- end -}}  
    {{- $tags = merge $tags (dict "reading_time" $reading_time) -}}
    {{- end -}}
    
    {{- with $tags.published_time -}}
    {{ $publish_date := time.Format "3:04 PM • Jan 2, 2006" . }}
    {{- $tags = merge $tags (dict "publish_date" $publish_date) -}}
    {{- end -}}
    
    {{/* Resolve the card type */}}
    {{- $type := "summary" -}}
    {{- if $tags.video }}{{ $type = "video" -}}
    {{- else if $tags.audio }}{{ $type = "audio" }}{{ end -}}
    
    {{- $params := dict
      "type" $type
      "layout" $layout
      "specifiers" ($.Page.Scratch.Get "plugin-cards.Parameters").Cardify.Specifiers
      -}}
    {{- $params := merge $tags $params -}}
       
    {{- partial "plugin-cards/cardify/preview-card.html" $params -}}
     
  {{- end -}} {{/* with .Err */}}

{{- end }} {{/* with resources.GetRemote $url */}}