{{- /*
 
  Generates a preview card for a page.
  
  Parameters:
  
  page: The page's basename.
  
  layout: horizontal or vertical. The default is vertical.
  
  type: summary, video, or audio. The default is summary.
  
  */ -}}
  
{{- /* Ensure the plugin parameters have loaded. */ -}}
{{- if not (.Page.Scratch.Get "plugin-cards.Parameters") -}}
{{- partial "plugin-cards/load-parameters.html" .Page -}}
{{- end -}}
 
{{- /* Declare the variables with their default values. */ -}}
{{- $page := "" -}}
{{- $layout := "vertical" -}}
{{- $type := "summary" -}}

{{- /* Check for named parameters. */ -}}
{{- if .IsNamedParams -}}

{{- /* Grab the page value. */ -}}
{{- $page = .Get "page" -}}

{{- /* Check for a layout parameter. */ -}}
{{- with .Get "layout" -}}

{{- /* Ensure the value is valid before grabbing it. */ -}}
{{- if (in (slice "vertical" "horizontal") .) -}}
{{- $layout = . -}}
{{- end -}}

{{- end -}}

{{- /* Check for a type parameter. */ -}}
{{- with .Get "type" -}}

{{- /* Ensure the value is valid before grabbing it. */ -}}
{{- if (in (slice "summary" "video" "audio") .) -}}
{{- $type = . -}}
{{- end -}}

{{- end -}}

{{- /* Otherwise process positional parameters. */ -}}
{{- else -}}

{{- /* Grab the first parameter as the page parameter. */ -}}
{{- $page = .Get 0 -}}

{{- end -}}

{{/* Retrieve the page from the provided path */}}
{{ with site.GetPage $page }}

  {{- /* Load the shortcode paramters into the shortcode scratch. */ -}}
  {{- $.Scratch.Set "page" . -}}
  {{- $.Scratch.Set "layout" $layout -}}
  {{- $.Scratch.Set "type" $type -}}
  
  {{- /* Load any registered values. */ -}}
  {{- template "load-registered" $ -}}
  
  {{- /* Resolve the media asset according to specified type. */ -}}
  {{- template "resolve-media" $ -}}
  
  {{- /* Resolve the card title. */ -}}
  {{- template "resolve-title" $ -}}
  
  {{- /* Resolve the card summary. */ -}}
  {{- template "resolve-summary" $ -}}
   
  {{- /* Resolve the reading time. */ -}}
  {{- template "resolve-reading-time" $ -}}
  
  {{- /* Resolve the publish date. */ -}}
  {{- template "resolve-publish-date" $ -}}
  
  {{- /* Generate the card. */ -}}
  {{- template "generate-card" $ -}}

{{- end -}}

{{- /* 
  Helper that parses the page content for registered values
  and inserts the result into the shortcode scratch.
  */ -}}
{{ define "load-registered" -}}

{{- with .Scratch.Get "page" -}}
 
{{- $registered := newScratch -}}
{{- $params := dict "content" .Content "scratch" $registered -}}
{{- partial "plugin-cards/twitter-og/parse-registered.html" $params -}}

{{- $title := $registered.Get "title" -}}
{{- $description := $registered.Get "description" -}}
{{- $image := $registered.Get "image" -}}
{{- $audio := $registered.Get "audio" -}}
{{- $video := $registered.Get "video" -}}
{{- $type := $registered.Get "type" -}}
{{- $card := $registered.Get "card" -}}

{{- $registered = dict "title" $title "description" $description "image" $image "audio" $audio "video" $video "type" $type "card" $card -}}

{{- $.Scratch.Set "registered" $registered -}}

{{- end -}}

{{- end }}
  
{{- /* 
  Helper that resolves the available media asset
  according to the kind expected for the card
  type and the media available within the page
  content. When an image, audio, or video asset
  has been resolved, it gets inserted into the
  shortcode scratch.
  */ -}}
{{ define "resolve-media" -}}

{{- $page := .Scratch.Get "page" -}}
{{- $type := .Scratch.Get "type" -}}
{{- $registered := .Scratch.Get "registered" -}}

{{- /* Resolve the image when the type is summary. */ -}}
{{- if (eq $type "summary") -}}

{{- $image := $registered.image -}}

{{- if (and $page.Params.images (not $image)) -}}
{{- $image = index $page.Params.images 0 -}}
{{- end -}}

{{- .Scratch.Set "image" $image -}}

{{- /* Resolve the audio when the type is audio. */ -}}
{{- else if (eq $type "audio") -}}

{{- $audio := $registered.audio -}}
{{- if (not $audio) -}}
{{- $audio_re := `<audio[^>]+src="([^"]+)"` -}}
{{- with findRE $audio_re $page.Content -}}
{{- $audio = replaceRE $audio_re "$1" (index . 0) -}}
{{- end -}}
{{- end -}}

{{- .Scratch.Set "audio" $audio -}}

{{- /* Resolve the video when the type is video. */ -}}
{{- else if (eq $type "video") -}}

{{- $video := $registered.video -}}
{{- if (not $video) -}}
{{- $video_re := `<video[^>]+src="([^"]+)"` -}}
{{- with findRE $video_re $page.Content -}}
{{- $video = replaceRE $video_re "$1" (index . 0) -}}
{{- end -}}
{{- end -}}

{{- .Scratch.Set "video" $video -}}

{{- end -}}

{{- end }}


{{- /* 
  Helper that resolves the card's title.
  */ -}}
{{ define "resolve-title" -}}

{{- $page := .Scratch.Get "page" -}}

{{/* Grab the page title */}}
{{- $title := $page.LinkTitle | markdownify | safeHTML | truncate 70 -}}

{{- .Scratch.Set "title" $title -}}
  
{{- end }}

{{- /* 
  Helper that resolves the card's summary.
  */ -}}
{{ define "resolve-summary" -}}

{{- $page := .Scratch.Get "page" -}}

{{/* Generate a summary */}}
{{- $summary := "" -}}

{{- if (findRE "<!--more-->" $page.Content) -}}
{{- $summary = index (split $page.Content "<!--more-->") 0 -}}
{{- else if $page.Summary -}}
{{- $summary = $page.Summary -}}
{{- else if $page.Description -}}
{{- $summary = $page.Description -}}
{{- end -}}

{{- /* Strip out any images */ -}}
{{- range findRE `<img[^>]+>` $summary -}}
{{- $summary = replace $summary . "" -}}
{{- end -}}

{{- /* Remove paragraph tags and truncate */ -}}
{{- $summary = replace $summary "<p>" "" -}}
{{- $summary = replace $summary "</p>" "" -}}
{{- $summary = $summary | safeHTML | truncate 200 -}}

{{- .Scratch.Set "summary" $summary -}}
  
{{- end }}

{{- /* 
  Helper that resolves the card's reading time.
  */ -}}
{{ define "resolve-reading-time" -}}

{{- $page := .Scratch.Get "page" -}}

{{/* Grab the estimated reading time for the post */}}
{{- $reading_time := printf "%v minute" $page.ReadingTime -}}
{{- if (gt $page.ReadingTime 1) -}}
{{- $reading_time = printf "%ss" $reading_time -}}
{{- end -}}

{{- .Scratch.Set "reading-time" $reading_time -}}

{{- end }}

{{- /* 
  Helper that resolves the card's publish date.
  */ -}}
{{ define "resolve-publish-date" -}}

{{- $page := .Scratch.Get "page" -}}

{{/* Grab the publish date for the post */}}
{{- $publish_date := $page.PublishDate.Format "3:04 PM • Jan 2, 2006" -}}

{{- .Scratch.Set "publish-date" $publish_date -}}

{{- end }}

{{- /* 
  Helper that generates the card HTML from the
  values inserted into the shortcode scratch.
  */ -}}
{{ define "generate-card" -}}

{{- $specifiers := (.Page.Scratch.Get "plugin-cards.Parameters").Cardify.Specifiers -}}

{{- $horizontal := eq (.Scratch.Get "layout") "horizontal" -}}

{{- $card_class := $specifiers.CardClassName -}}
{{- $image_class := $specifiers.ImageClassName -}}
{{- $audio_class := $specifiers.AudioClassName -}}
{{- $video_class := $specifiers.VideoClassName -}}
{{- $body_class := $specifiers.BodyClassName -}}
{{- $title_class := $specifiers.TitleClassName -}}
{{- $text_class := $specifiers.TextClassName -}}
{{- $link_class := $specifiers.LinkClassName -}}
{{- $reading_time_class := $specifiers.ReadingTimeClassName -}}
{{- $publish_date_class := $specifiers.PublishDateClassName -}}

{{- if $horizontal -}}

{{- $card_class = printf "%s horizontal" $card_class -}}
{{- $image_class = printf "%s horizontal" $image_class -}}
{{- $body_class = printf "%s horizontal" $body_class -}}
{{- $title_class = printf "%s horizontal" $title_class -}}
{{- $text_class = printf "%s horizontal" $text_class -}}
{{- $link_class = printf "%s horizontal" $link_class -}}
{{- $reading_time_class = printf "%s horizontal" $reading_time_class -}}
{{- $publish_date_class = printf "%s horizontal" $publish_date_class -}}

{{- end -}}

{{- $type := .Scratch.Get "type" -}}
{{- $image := .Scratch.Get "image" -}}
{{- $audio := .Scratch.Get "audio" -}}
{{- $video := .Scratch.Get "video" -}}
{{- $title := .Scratch.Get "title" -}}
{{- $summary := .Scratch.Get "summary" -}}
{{- $publish_date := .Scratch.Get "publish-date" -}}
{{- $reading_time := .Scratch.Get "reading-time" -}}
{{- $link := (.Scratch.Get "page").Permalink -}}

<div class="{{ $card_class }}">
{{- if (and (eq $type "summary") $image) -}}
<img src="{{ $image }}" class="{{ $image_class }}" />
{{- else if (and (eq $type "audio") $audio) -}}
<audio src="{{ $audio }}" class="{{ $audio_class }}" controls preload="metadata"></audio>
{{- else if (and (eq $type "video") $video) -}}
<video src="{{ $video }}" class="{{ $video_class }}" playsinline autoplay muted loop controls></video>
{{- end }}
<div class="{{ $body_class }}">
    {{ with $title }}<h3 class="{{ $title_class }}">{{ . }}</h3>{{ end }}
    <p class="{{ $text_class }}">{{ $summary | safeHTML }}</p>
    <a href="{{ $link }}" class="{{ $link_class }}"></a>
    <p class="{{ $text_class }}">
      <small><span class="{{ $publish_date_class }}">{{ $publish_date }}</span></small>
      <small class="{{ $reading_time_class }}">reading time <span>{{ $reading_time }}</span></small>
    </p>
  </div>
</div>
  
{{- end }}