{{/* 
  parameters:
    label: A label
    index: The index into scratch
    scratch: The plugin scratch
  */}}
{{- $label := false -}}
{{- $index := false -}}
{{- $scratch := false -}}
{{- if (reflect.IsMap .) -}}
  {{- $label = .label -}}
  {{- $index = .index -}}
  {{- $scratch = .scratch -}}
{{- else if (and (reflect.IsSlice .) (eq 3 (len .))) -}}
  {{- $label = index . 0 -}}
  {{- $index = index . 1 -}}
  {{- $scratch = index . 2 -}}
{{- end -}} {{- /* if (reflect.IsMap .) */ -}}
{{- if ($scratch.Get "plugin-cards.Parameters").DebugPrint -}}
  {{- if (and (and $label $index) $scratch) -}}
    {{- with $scratch.Get $index -}}
      {{- printf "\n<!--\n%s: %s: %s\n-->" $label $index (jsonify .) | safeHTML }}
    {{- else -}}
      {{- printf "\n<!--%s: %s: null-->" $label $index | safeHTML -}}
    {{- end -}} {{- /* with (index ($scratch.Get $label) $index) */ -}}
  {{- else if (and $index $scratch) -}}
    {{- with $scratch.Get $index -}}
      {{- printf "\n<!--\n%s: %s\n-->" $index (jsonify .) | safeHTML }}
    {{- else -}}
      {{- printf "\n<!--%s: null-->" $index | safeHTML -}}
    {{- end -}} {{- /* with $scratch.Get $index */ -}}  
  {{- end -}} {{- /* if (and (and $label $index) $scratch) */ -}}
{{- end -}} {{- /* ($scratch.Get "Config").DebugPrint */ -}}