{{- /* 
  Insert the plugin version and build time 
  */ -}}
{{- $time := (time (sub now.Unix 28800)).Format "Jan 2 at 15:04" -}}
{{ printf "\n<!-- Cards v4.0.21 (built on %s) -->\n" $time | safeHTML }}

{{- /* 
  Load the config file values into the scratch 
  */ -}}
{{- partial "plugin-cards/load-parameters.html" . -}}

{{- partial "plugin-cards/debug-print.html" (slice "" "plugin-cards.Parameters" .Scratch) -}}

{{- /* 
  Inject the Twitter / Open Graph meta tags 
  */ -}}
{{- partial "plugin-cards/twitter-og/injection.html" . -}}

{{- /* 
  Inject the structured data meta tags 
  */ -}}
{{- partial "plugin-cards/structured-data/injection.html" . -}}

{{- /* 
  Inject the cardify Javascript and stylesheet 
  */ -}}
{{- partial "plugin-cards/cardify/injection.html" . -}}